.elementor-70 .elementor-element.elementor-element-5c0d236d>.elementor-container {
    max-width: 1600px;
    min-height: 0px;
}

.elementor-70 .elementor-element.elementor-element-5c0d236d>.elementor-container:after {
    content: "";
    min-height: inherit;
}

.elementor-70 .elementor-element.elementor-element-5c0d236d>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: flex-start;
    align-items: flex-start;
}

.elementor-70 .elementor-element.elementor-element-5c0d236d:not(.elementor-motion-effects-element-type-background),
.elementor-70 .elementor-element.elementor-element-5c0d236d>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    #background-color: #92d2d9;
    background-color: #aeaeae;
	#background: rgba(92, 210, 217, 0.8);
    #background: rgba(255, 255, 255, 0.3);
	#background-image: url("https://experience.briovr.com/wp-content/uploads/2020/05/mainHero2.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
}

.elementor-70 .elementor-element.elementor-element-5c0d236d {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -80px;
    margin-bottom: 0px;
    padding: 075px 130px 50px 130px;
}

.elementor-70 .elementor-element.elementor-element-5c0d236d>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-70 .elementor-element.elementor-element-65de89f8>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-70 .elementor-element.elementor-element-65de89f8>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-70 .elementor-element.elementor-element-65de89f8>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-70 .elementor-element.elementor-element-2e9d836>.elementor-container {
    max-width: 1000px;
}

.elementor-70 .elementor-element.elementor-element-2e9d836 {
    margin-top: 0px;
    padding: 0px 0px 0px 0px;
    bottom: 125px;
}

.elementor-70 .elementor-element.elementor-element-b51c21c>.elementor-element-populated {
    margin: 0150px 0px 0px 0px;
	#background: rgba(255, 255, 255, 0.6);
}

.elementor-70 .elementor-element.elementor-element-aff99db {
    text-align: left;
}

.elementor-70 .elementor-element.elementor-element-aff99db .elementor-heading-title {
    color: #d5d5d5;
    #color: #341e59;
    font-family: "Titillium Web", titillium web;
    font-size: 49px;
    font-weight: 700;
    letter-spacing: -0.3px;
}

.elementor-70 .elementor-element.elementor-element-aff99db>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-70 .elementor-element.elementor-element-8481fc1 .elementor-text-editor {
    text-align: left;
}

.elementor-70 .elementor-element.elementor-element-8481fc1 {
    color: #c1c1c1;
    font-family: "Titillium Web", titillium web;
    font-size: 24px;
    font-weight: 500;
    line-height: 0.9em;
}

.elementor-70 .elementor-element.elementor-element-8481fc1>.elementor-widget-container {
    margin: 20px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-70 .elementor-element.elementor-element-4b43c84 .elementor-button {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #043194;
    padding: 15px 50px 15px 50px;
}

.elementor-70 .elementor-element.elementor-element-4b43c84>.elementor-widget-container {
    margin: 20px 0px 0px 0px;
}

.elementor-70 .elementor-element.elementor-element-3f3f36b .elementor-spacer-inner {
    /*height: 150px;*/
}

.elementor-70 .elementor-element.elementor-element-6526de4>.elementor-container {
    max-width: 1000px;
}

.elementor-70 .elementor-element.elementor-element-6526de4 {
    margin-top: 60px;
    margin-bottom: 10px;
}

.elementor-70 .elementor-element.elementor-element-27d7694 .elementor-heading-title {
    color: #043194;
    font-size: 24px;
    font-weight: 600;
}

.elementor-70 .elementor-element.elementor-element-906ecd8>.elementor-container {
    max-width: 1000px;
    min-height: 350px;
}

.elementor-70 .elementor-element.elementor-element-906ecd8 {
    margin-top: 0px;
    margin-bottom: 5px;
}

.elementor-70 .elementor-element.elementor-element-9b9ceab:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap,
.elementor-70 .elementor-element.elementor-element-9b9ceab>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-70 .elementor-element.elementor-element-9b9ceab>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 5px 5px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-70 .elementor-element.elementor-element-9b9ceab>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-70 .elementor-element.elementor-element-6c60e5a .elementor-heading-title {
    color: #333333;
}

.elementor-70 .elementor-element.elementor-element-6c60e5a>.elementor-widget-container {
    padding: 40px 40px 0px 40px;
}

.elementor-70 .elementor-element.elementor-element-e311b9d .elementor-text-editor {
    text-align: left;
    column-gap: 0px;
}

.elementor-70 .elementor-element.elementor-element-e311b9d {
    color: #333333;
}

.elementor-70 .elementor-element.elementor-element-e311b9d>.elementor-widget-container {
    padding: 020px 40px 20px 40px;
}

.elementor-70 .elementor-element.elementor-element-7a050b1 .elementor-heading-title {
    color: #043194;
}

.elementor-70 .elementor-element.elementor-element-7a050b1>.elementor-widget-container {
    margin: 0px 0px 20px 40px;
}

body:not(.rtl) .elementor-70 .elementor-element.elementor-element-7a050b1 {
    left: 0px;
}

body.rtl .elementor-70 .elementor-element.elementor-element-7a050b1 {
    right: 0px;
}

.elementor-70 .elementor-element.elementor-element-7a050b1 {
    bottom: 0px;
}

.elementor-70 .elementor-element.elementor-element-36347c9:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap,
.elementor-70 .elementor-element.elementor-element-36347c9>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-70 .elementor-element.elementor-element-36347c9>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 5px 5px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-70 .elementor-element.elementor-element-36347c9>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-70 .elementor-element.elementor-element-58c5561 .elementor-heading-title {
    color: #333333;
}

.elementor-70 .elementor-element.elementor-element-58c5561>.elementor-widget-container {
    padding: 40px 40px 0px 40px;
}

.elementor-70 .elementor-element.elementor-element-d6489c0 .elementor-text-editor {
    text-align: left;
    column-gap: 0px;
}

.elementor-70 .elementor-element.elementor-element-d6489c0 {
    color: #333333;
}

.elementor-70 .elementor-element.elementor-element-d6489c0>.elementor-widget-container {
    padding: 020px 40px 20px 40px;
}

.elementor-70 .elementor-element.elementor-element-89f5378 .elementor-heading-title {
    color: #043194;
}

.elementor-70 .elementor-element.elementor-element-89f5378>.elementor-widget-container {
    margin: 0px 0px 20px 40px;
}

body:not(.rtl) .elementor-70 .elementor-element.elementor-element-89f5378 {
    left: 0px;
}

body.rtl .elementor-70 .elementor-element.elementor-element-89f5378 {
    right: 0px;
}

.elementor-70 .elementor-element.elementor-element-89f5378 {
    bottom: 0px;
}

.elementor-70 .elementor-element.elementor-element-4c82875:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap,
.elementor-70 .elementor-element.elementor-element-4c82875>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-70 .elementor-element.elementor-element-4c82875>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 5px 5px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-70 .elementor-element.elementor-element-4c82875>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-70 .elementor-element.elementor-element-2fcef77 .elementor-heading-title {
    color: #333333;
}

.elementor-70 .elementor-element.elementor-element-2fcef77>.elementor-widget-container {
    padding: 40px 40px 0px 40px;
}

.elementor-70 .elementor-element.elementor-element-d021289 .elementor-text-editor {
    text-align: left;
    column-gap: 0px;
}

.elementor-70 .elementor-element.elementor-element-d021289 {
    color: #333333;
}

.elementor-70 .elementor-element.elementor-element-d021289>.elementor-widget-container {
    padding: 020px 40px 20px 40px;
}

.elementor-70 .elementor-element.elementor-element-6020342 .elementor-heading-title {
    color: #043194;
}

.elementor-70 .elementor-element.elementor-element-6020342>.elementor-widget-container {
    margin: 0px 0px 20px 40px;
}

body:not(.rtl) .elementor-70 .elementor-element.elementor-element-6020342 {
    left: 0px;
}

body.rtl .elementor-70 .elementor-element.elementor-element-6020342 {
    right: 0px;
}

.elementor-70 .elementor-element.elementor-element-6020342 {
    bottom: 0px;
}

.elementor-70 .elementor-element.elementor-element-e23e270:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap,
.elementor-70 .elementor-element.elementor-element-e23e270>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-70 .elementor-element.elementor-element-e23e270>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 5px 5px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-70 .elementor-element.elementor-element-e23e270>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-70 .elementor-element.elementor-element-5c6e2f6 .elementor-heading-title {
    color: #333333;
}

.elementor-70 .elementor-element.elementor-element-5c6e2f6>.elementor-widget-container {
    padding: 40px 40px 0px 40px;
}

.elementor-70 .elementor-element.elementor-element-fdc0348 .elementor-text-editor {
    text-align: left;
    column-gap: 0px;
}

.elementor-70 .elementor-element.elementor-element-fdc0348 {
    color: #333333;
}

.elementor-70 .elementor-element.elementor-element-fdc0348>.elementor-widget-container {
    padding: 020px 40px 20px 40px;
}

.elementor-70 .elementor-element.elementor-element-9e91fc0 .elementor-heading-title {
    color: #043194;
}

.elementor-70 .elementor-element.elementor-element-9e91fc0>.elementor-widget-container {
    margin: 0px 0px 20px 40px;
}

body:not(.rtl) .elementor-70 .elementor-element.elementor-element-9e91fc0 {
    left: 0px;
}

body.rtl .elementor-70 .elementor-element.elementor-element-9e91fc0 {
    right: 0px;
}

.elementor-70 .elementor-element.elementor-element-9e91fc0 {
    bottom: 0px;
}

.elementor-70 .elementor-element.elementor-element-ba6a4a2>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-70 .elementor-element.elementor-element-ba6a4a2 {
    padding: 150px 0px 150px 0px;
}

.elementor-70 .elementor-element.elementor-element-7eaace02>.elementor-container {
    max-width: 1000px;
}

.elementor-70 .elementor-element.elementor-element-7eaace02 {
    margin-top: 0px;
    margin-bottom: 10px;
}

.elementor-70 .elementor-element.elementor-element-2def6ebf .elementor-heading-title {
    color: #043194;
    font-size: 24px;
    font-weight: 600;
}

.elementor-70 .elementor-element.elementor-element-7ce16209>.elementor-container {
    max-width: 1000px;
}

.elementor-70 .elementor-element.elementor-element-7ce16209>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: flex-start;
    align-items: flex-start;
}

.elementor-bc-flex-widget .elementor-70 .elementor-element.elementor-element-21c0aa45.elementor-column .elementor-column-wrap {
    align-items: flex-start;
}

.elementor-70 .elementor-element.elementor-element-21c0aa45.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: flex-start;
    align-items: flex-start;
}

.elementor-70 .elementor-element.elementor-element-21c0aa45>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}

.elementor-70 .elementor-element.elementor-element-7f8584de .elementor-image img {
    width: 200px;
}

.elementor-70 .elementor-element.elementor-element-6b7894ac .elementor-text-editor {
    text-align: center;
}

.elementor-70 .elementor-element.elementor-element-6b7894ac {
    color: #60457B;
    font-weight: 600;
}

.elementor-bc-flex-widget .elementor-70 .elementor-element.elementor-element-2cc519aa.elementor-column .elementor-column-wrap {
    align-items: flex-start;
}

.elementor-70 .elementor-element.elementor-element-2cc519aa.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: flex-start;
    align-items: flex-start;
}

.elementor-70 .elementor-element.elementor-element-2cc519aa>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}

.elementor-70 .elementor-element.elementor-element-4cb628d3 .elementor-image img {
    width: 200px;
}

.elementor-70 .elementor-element.elementor-element-68faf7bb .elementor-text-editor {
    text-align: center;
}

.elementor-70 .elementor-element.elementor-element-68faf7bb {
    color: #60457B;
    font-weight: 600;
}

.elementor-bc-flex-widget .elementor-70 .elementor-element.elementor-element-9b106b2.elementor-column .elementor-column-wrap {
    align-items: flex-start;
}

.elementor-70 .elementor-element.elementor-element-9b106b2.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: flex-start;
    align-items: flex-start;
}

.elementor-70 .elementor-element.elementor-element-9b106b2>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}

.elementor-70 .elementor-element.elementor-element-5f4242a6 .elementor-image img {
    width: 200px;
}

.elementor-70 .elementor-element.elementor-element-10018ca2 .elementor-text-editor {
    text-align: center;
}

.elementor-70 .elementor-element.elementor-element-10018ca2 {
    color: #60457B;
    font-weight: 600;
}

.elementor-70 .elementor-element.elementor-element-59c45c08>.elementor-container {
    max-width: 1000px;
    min-height: 550px;
}

.elementor-70 .elementor-element.elementor-element-59c45c08>.elementor-container:after {
    content: "";
    min-height: inherit;
}

.elementor-70 .elementor-element.elementor-element-59c45c08>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-70 .elementor-element.elementor-element-59c45c08:not(.elementor-motion-effects-element-type-background),
.elementor-70 .elementor-element.elementor-element-59c45c08>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #AADFF0;
}

.elementor-70 .elementor-element.elementor-element-59c45c08 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-70 .elementor-element.elementor-element-59c45c08>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-70 .elementor-element.elementor-element-524a3cf3.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-70 .elementor-element.elementor-element-524a3cf3>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-70 .elementor-element.elementor-element-524a3cf3>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-70 .elementor-element.elementor-element-64c6b>.elementor-container {
    max-width: 1000px;
}

.elementor-70 .elementor-element.elementor-element-7fabeacc>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-70 .elementor-element.elementor-element-4ddc688d>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-70 .elementor-element.elementor-element-4ff9c0a3>.elementor-element-populated {
    margin: 0px 30px 0px 0px;
}

.elementor-70 .elementor-element.elementor-element-5e62525e>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-70 .elementor-element.elementor-element-6569cfc2.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-70 .elementor-element.elementor-element-6569cfc2.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-70 .elementor-element.elementor-element-6569cfc2>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 20px;
}

.elementor-70 .elementor-element.elementor-element-6569cfc2>.elementor-element-populated {
    margin: 0px 0px 0px 40px;
    padding: 0px 0px 0px 0px;
}

.elementor-70 .elementor-element.elementor-element-1aba3710 .elementor-heading-title {
    color: #333333;
    font-size: 40px;
    font-weight: 700;
}

.elementor-70 .elementor-element.elementor-element-197a0956 .elementor-text-editor {
    text-align: left;
    columns: 1;
}

.elementor-70 .elementor-element.elementor-element-c8df282>.elementor-container {
    min-height: 550px;
}

.elementor-70 .elementor-element.elementor-element-c8df282>.elementor-container:after {
    content: "";
    min-height: inherit;
}

.elementor-70 .elementor-element.elementor-element-c8df282>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-70 .elementor-element.elementor-element-c8df282:not(.elementor-motion-effects-element-type-background),
.elementor-70 .elementor-element.elementor-element-c8df282>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFB6C0;
    background-image: url("https://experience.briovr.com/wp-content/uploads/2020/03/brassAndCups_long.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-70 .elementor-element.elementor-element-c8df282 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-70 .elementor-element.elementor-element-c8df282>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-70 .elementor-element.elementor-element-74df2b90>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-70 .elementor-element.elementor-element-423dc2a5>.elementor-container {
    max-width: 1000px;
}

.elementor-bc-flex-widget .elementor-70 .elementor-element.elementor-element-553f16dd.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-70 .elementor-element.elementor-element-553f16dd.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-70 .elementor-element.elementor-element-553f16dd>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 20px;
}

.elementor-70 .elementor-element.elementor-element-553f16dd>.elementor-element-populated {
    margin: 0px 40px 0px 0px;
}

.elementor-70 .elementor-element.elementor-element-62c22507 .elementor-heading-title {
    color: #333333;
    font-size: 40px;
    font-weight: 700;
}

.elementor-70 .elementor-element.elementor-element-29983de6 .elementor-text-editor {
    text-align: left;
    columns: 1;
}

.elementor-bc-flex-widget .elementor-70 .elementor-element.elementor-element-358a222a.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-70 .elementor-element.elementor-element-358a222a.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-70 .elementor-element.elementor-element-551e3cf8>.elementor-container {
    min-height: 550px;
}

.elementor-70 .elementor-element.elementor-element-551e3cf8>.elementor-container:after {
    content: "";
    min-height: inherit;
}

.elementor-70 .elementor-element.elementor-element-551e3cf8>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-70 .elementor-element.elementor-element-551e3cf8:not(.elementor-motion-effects-element-type-background),
.elementor-70 .elementor-element.elementor-element-551e3cf8>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFC93D;
}

.elementor-70 .elementor-element.elementor-element-551e3cf8 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 0px;
}

.elementor-70 .elementor-element.elementor-element-551e3cf8>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-70 .elementor-element.elementor-element-3e1d6736>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-70 .elementor-element.elementor-element-2604486d>.elementor-container {
    max-width: 1000px;
}

.elementor-70 .elementor-element.elementor-element-2604486d {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-70 .elementor-element.elementor-element-bb6b8b9.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-70 .elementor-element.elementor-element-bb6b8b9.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-bc-flex-widget .elementor-70 .elementor-element.elementor-element-2f5349f4.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-70 .elementor-element.elementor-element-2f5349f4.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-70 .elementor-element.elementor-element-2f5349f4>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 20px;
}

.elementor-70 .elementor-element.elementor-element-2f5349f4>.elementor-element-populated {
    margin: 0px 0px 0px 40px;
    padding: 0px 0px 0px 0px;
}

.elementor-70 .elementor-element.elementor-element-66b6c52d .elementor-heading-title {
    color: #333333;
    font-size: 40px;
    font-weight: 700;
}

.elementor-70 .elementor-element.elementor-element-631f5511 .elementor-text-editor {
    text-align: left;
    columns: 1;
}

.elementor-70 .elementor-element.elementor-element-3e6f8557 {
    padding: 150px 0px 150px 0px;
}

.elementor-70 .elementor-element.elementor-element-7fcdad4c>.elementor-container {
    max-width: 1000px;
}

.elementor-70 .elementor-element.elementor-element-7fcdad4c {
    margin-top: 0px;
    margin-bottom: 10px;
}

.elementor-70 .elementor-element.elementor-element-230e5ab .elementor-heading-title {
    color: #043194;
    font-size: 24px;
    font-weight: 600;
}

.elementor-70 .elementor-element.elementor-element-74484999>.elementor-container {
    max-width: 1000px;
}

.elementor-70 .elementor-element.elementor-element-74484999 {
    margin-top: 020px;
    margin-bottom: 0px;
}

.elementor-70 .elementor-element.elementor-element-2d0484b5>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-70 .elementor-element.elementor-element-514ae388 .elementor-toggle-title,
.elementor-70 .elementor-element.elementor-element-514ae388 .elementor-toggle-icon {
    color: #3873c7;
}

.elementor-70 .elementor-element.elementor-element-514ae388 .elementor-toggle .elementor-toggle-title {
    font-family: "Titillium Web", titillium web;
    font-weight: 600;
}

.elementor-70 .elementor-element.elementor-element-514ae388 .elementor-toggle .elementor-toggle-icon.elementor-toggle-icon-left {
    margin-right: 12px;
}

.elementor-70 .elementor-element.elementor-element-514ae388 .elementor-toggle .elementor-toggle-icon.elementor-toggle-icon-right {
    margin-left: 12px;
}

.elementor-70 .elementor-element.elementor-element-514ae388>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#webXR_instructions {
    position: absolute;
}

@media(max-width:1024px) {
    .elementor-70 .elementor-element.elementor-element-5c0d236d>.elementor-container {
        min-height: 900px;
    }
    .elementor-70 .elementor-element.elementor-element-5c0d236d>.elementor-container:after {
        content: "";
        min-height: inherit;
    }
    .elementor-70 .elementor-element.elementor-element-5c0d236d:not(.elementor-motion-effects-element-type-background),
    .elementor-70 .elementor-element.elementor-element-5c0d236d>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        #background-image: url("https://experience.briovr.com/wp-content/uploads/2020/05/mainHero2.png");
        background-position: top center;
        background-repeat: no-repeat;
        background-size: 800px auto;
    }
    .elementor-70 .elementor-element.elementor-element-5c0d236d {
        margin-top: -90px;
        margin-bottom: -90px;
        padding: 75px 30px 50px 30px;
    }
    .elementor-70 .elementor-element.elementor-element-65de89f8>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-70 .elementor-element.elementor-element-2e9d836 {
        padding: 0px 0px 0px 0px;
    }
    .elementor-70 .elementor-element.elementor-element-b51c21c>.elementor-element-populated {
        margin: 100px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-70 .elementor-element.elementor-element-aff99db>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-70 .elementor-element.elementor-element-3f3f36b .elementor-spacer-inner {
        height: 104px;
    }
    .elementor-70 .elementor-element.elementor-element-6526de4 {
        padding: 0px 0px 0px 0px;
    }
    .elementor-70 .elementor-element.elementor-element-906ecd8 {
        padding: 0px 0px 0px 0px;
    }
    .elementor-70 .elementor-element.elementor-element-ba6a4a2 {
        padding: 180px 30px 100px 30px;
    }
    .elementor-70 .elementor-element.elementor-element-7eaace02 {
        padding: 0px 0px 0px 0px;
    }
    .elementor-70 .elementor-element.elementor-element-7ce16209 {
        padding: 0px 0px 0px 0px;
    }
    .elementor-70 .elementor-element.elementor-element-64c6b {
        padding: 0px 30px 0px 0px;
    }
    .elementor-70 .elementor-element.elementor-element-4ddc688d>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-70 .elementor-element.elementor-element-1aba3710 .elementor-heading-title {
        font-size: 30px;
    }
    .elementor-70 .elementor-element.elementor-element-423dc2a5 {
        padding: 0px 30px 0px 030px;
    }
    .elementor-70 .elementor-element.elementor-element-62c22507 .elementor-heading-title {
        font-size: 30px;
    }
    .elementor-70 .elementor-element.elementor-element-2604486d {
        padding: 0px 30px 0px 30px;
    }
    .elementor-70 .elementor-element.elementor-element-66b6c52d .elementor-heading-title {
        font-size: 30px;
    }
    .elementor-70 .elementor-element.elementor-element-3e6f8557 {
        padding: 100px 30px 100px 30px;
    }
    .elementor-70 .elementor-element.elementor-element-4824e0f4>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
    }
    .elementor-70 .elementor-element.elementor-element-7fcdad4c {
        padding: 0px 0px 0px 0px;
    }
}

@media(max-width:767px) {
    #start-now-mobile .elementor-widget-container {
        margin: 0;
        padding: 0;
    }


    .elementor-70 .elementor-element.elementor-element-5c0d236d>.elementor-container {
        min-height: 1440px;
    }
    .elementor-70 .elementor-element.elementor-element-5c0d236d>.elementor-container:after {
        content: "";
        min-height: inherit;
    }
    .elementor-70 .elementor-element.elementor-element-5c0d236d:not(.elementor-motion-effects-element-type-background),
    .elementor-70 .elementor-element.elementor-element-5c0d236d>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-image: url("first_page_background.png");
        background-position: top center;
        background-repeat: no-repeat;
        background-size: 596px auto;
    }
    .elementor-70 .elementor-element.elementor-element-5c0d236d {
        padding: 55px 20px 50px 20px;
    }
    .elementor-70 .elementor-element.elementor-element-65de89f8>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
    }
    .elementor-70 .elementor-element.elementor-element-2e9d836 {
        margin-top: 0;
        bottom: 0;
       top: 30px;
        #margin-bottom: 190px;
    }

    #webXR_instructions {
        position: initial;
    }

    iframe.house_3d {
        height: 60%;
    }

    .elementor-bc-flex-widget .elementor-70 .elementor-element.elementor-element-b51c21c.elementor-column .elementor-column-wrap {
        align-items: center;
    }
    .elementor-70 .elementor-element.elementor-element-b51c21c.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
        align-content: center;
        align-items: center;
    }
    .elementor-70 .elementor-element.elementor-element-b51c21c.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-70 .elementor-element.elementor-element-b51c21c>.elementor-element-populated {
        margin: 70px 0px 0px 0px;
    }
    .elementor-70 .elementor-element.elementor-element-aff99db .elementor-heading-title {
        font-size: 42px;
    }
    .elementor-70 .elementor-element.elementor-element-8481fc1>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 20px 0px 0px 0px;
    }
    .elementor-70 .elementor-element.elementor-element-95857f4 .elementor-image img {
        width: 84%;
    }
    .elementor-70 .elementor-element.elementor-element-95857f4>.elementor-widget-container {
        margin: 020px 0px 0px 0px;
    }
    .elementor-70 .elementor-element.elementor-element-4b43c84>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-70 .elementor-element.elementor-element-906ecd8 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-70 .elementor-element.elementor-element-9b9ceab {
        width: 100%;
    }
    .elementor-70 .elementor-element.elementor-element-9b9ceab>.elementor-element-populated {
        margin: 0px 0px 5px 0px;
        padding: 40px 20px 060px 20px;
    }
    .elementor-70 .elementor-element.elementor-element-6c60e5a>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 20px 0px 0px;
    }
    .elementor-70 .elementor-element.elementor-element-e311b9d>.elementor-widget-container {
        padding: 20px 0px 0px 0px;
    }
    .elementor-70 .elementor-element.elementor-element-7a050b1>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-70 .elementor-element.elementor-element-7a050b1 {
        bottom: -40px;
    }
    .elementor-70 .elementor-element.elementor-element-36347c9 {
        width: 100%;
    }
    .elementor-70 .elementor-element.elementor-element-36347c9>.elementor-element-populated {
        margin: 0px 0px 5px 0px;
        padding: 40px 20px 060px 20px;
    }
    .elementor-70 .elementor-element.elementor-element-58c5561>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 20px 0px 0px;
    }
    .elementor-70 .elementor-element.elementor-element-d6489c0>.elementor-widget-container {
        padding: 20px 0px 0px 0px;
    }
    .elementor-70 .elementor-element.elementor-element-89f5378>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-70 .elementor-element.elementor-element-89f5378 {
        bottom: -40px;
    }
    .elementor-70 .elementor-element.elementor-element-4c82875 {
        width: 100%;
    }
    .elementor-70 .elementor-element.elementor-element-4c82875>.elementor-element-populated {
        margin: 0px 0px 5px 0px;
        padding: 40px 20px 060px 20px;
    }
    .elementor-70 .elementor-element.elementor-element-2fcef77>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 20px 0px 0px;
    }
    .elementor-70 .elementor-element.elementor-element-d021289>.elementor-widget-container {
        padding: 20px 0px 0px 0px;
    }
    .elementor-70 .elementor-element.elementor-element-6020342>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-70 .elementor-element.elementor-element-6020342 {
        bottom: -40px;
    }
    .elementor-70 .elementor-element.elementor-element-e23e270 {
        width: 100%;
    }
    .elementor-70 .elementor-element.elementor-element-e23e270>.elementor-element-populated {
        margin: 0px 0px 5px 0px;
        padding: 40px 20px 060px 20px;
    }
    .elementor-70 .elementor-element.elementor-element-5c6e2f6>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 20px 0px 0px;
    }
    .elementor-70 .elementor-element.elementor-element-fdc0348>.elementor-widget-container {
        padding: 20px 0px 0px 0px;
    }
    .elementor-70 .elementor-element.elementor-element-9e91fc0>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-70 .elementor-element.elementor-element-9e91fc0 {
        bottom: -40px;
    }
    .elementor-70 .elementor-element.elementor-element-ba6a4a2 {
        padding: 130px 20px 80px 20px;
    }
    .elementor-70 .elementor-element.elementor-element-d7a4bb2>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-70 .elementor-element.elementor-element-59c45c08 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 50px 20px 50px 20px;
    }
    .elementor-70 .elementor-element.elementor-element-524a3cf3>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-70 .elementor-element.elementor-element-64c6b {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-70 .elementor-element.elementor-element-7fabeacc>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
    }
    .elementor-70 .elementor-element.elementor-element-4ff9c0a3 {
        width: 100%;
    }
    .elementor-70 .elementor-element.elementor-element-4ff9c0a3>.elementor-element-populated {
        margin: 20px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-70 .elementor-element.elementor-element-6569cfc2>.elementor-element-populated {
        margin: 020px 0px 0px 0px;
    }
    .elementor-70 .elementor-element.elementor-element-1aba3710 .elementor-heading-title {
        font-size: 30px;
    }
    .elementor-70 .elementor-element.elementor-element-c8df282:not(.elementor-motion-effects-element-type-background),
    .elementor-70 .elementor-element.elementor-element-c8df282>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-image: url("https://experience.briovr.com/wp-content/uploads/2020/03/brassAndCups_long.png");
        background-position: top left;
        background-repeat: no-repeat;
    }
    .elementor-70 .elementor-element.elementor-element-c8df282 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 50px 20px 50px 20px;
    }
    .elementor-70 .elementor-element.elementor-element-74df2b90>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-70 .elementor-element.elementor-element-423dc2a5 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-70 .elementor-element.elementor-element-553f16dd>.elementor-element-populated {
        margin: 20px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-70 .elementor-element.elementor-element-62c22507 .elementor-heading-title {
        font-size: 30px;
    }
    .elementor-70 .elementor-element.elementor-element-358a222a>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-70 .elementor-element.elementor-element-551e3cf8 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 50px 20px 50px 20px;
    }
    .elementor-70 .elementor-element.elementor-element-3e1d6736>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-70 .elementor-element.elementor-element-2604486d {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-70 .elementor-element.elementor-element-2f5349f4>.elementor-element-populated {
        margin: 20px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-70 .elementor-element.elementor-element-66b6c52d .elementor-heading-title {
        font-size: 30px;
    }
    .elementor-70 .elementor-element.elementor-element-3e6f8557 {
        padding: 50px 20px 050px 20px;
    }
    .elementor-70 .elementor-element.elementor-element-4824e0f4>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
}

@media(min-width:768px) {
    #start-now-mobile {
        display: none;
    }

    .elementor-70 .elementor-element.elementor-element-b51c21c {
        width: 42.1%;
    }
    .elementor-70 .elementor-element.elementor-element-7fabeacc {
        width: 60%;
    }
    .elementor-70 .elementor-element.elementor-element-4ff9c0a3 {
        width: 2.333%;
    }
    .elementor-70 .elementor-element.elementor-element-6569cfc2 {
        width: 37%;
    }
    .elementor-70 .elementor-element.elementor-element-553f16dd {
        width: 50%;
    }
    .elementor-70 .elementor-element.elementor-element-358a222a {
        width: 50%;
    }
    .elementor-70 .elementor-element.elementor-element-bb6b8b9 {
        width: 50%;
    }
    .elementor-70 .elementor-element.elementor-element-2f5349f4 {
        width: 50%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-70 .elementor-element.elementor-element-b51c21c {
        width: 60%;
    }
    .elementor-70 .elementor-element.elementor-element-9b9ceab {
        width: 50%;
    }
    .elementor-70 .elementor-element.elementor-element-36347c9 {
        width: 50%;
    }
    .elementor-70 .elementor-element.elementor-element-4c82875 {
        width: 50%;
    }
    .elementor-70 .elementor-element.elementor-element-e23e270 {
        width: 50%;
    }
    .elementor-70 .elementor-element.elementor-element-7fabeacc {
        width: 50%;
    }
    .elementor-70 .elementor-element.elementor-element-6569cfc2 {
        width: 50%;
    }
}

/* Start custom CSS */

/*texts padding and margin*/

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

/*text box contents heights*/

.text-box-section .elementor-widget-text-editor {
    display: flex;
    height: 100%;
    width: 100%;
}

/*img box contents padding and heights*/

.image-box-section .elementor-image-box-content {
    padding: 0 20px 20px 20px
}

.image-box-section .elementor-widget-text-editor {
    display: flex;
    height: 100%;
}

/*omitting white space in iframe*/

iframe {
    display: block;
}

/* End custom CSS */