/* FILE: /plugins/system/modalizer/modals/lytebox/lytebox.css */
#lbOverlay {
	position:fixed;
	top:0;
	left:0;
	z-index:99998;
	width:100%;
	height:500px;
}
#lbOverlay.grey {
	background-color:#000000;
}
#lbOverlay.red {
	background-color:#330000;
}
#lbOverlay.green {
	background-color:#003300;
}
#lbOverlay.blue {
	background-color:#011D50;
}
#lbOverlay.gold {
	background-color:#666600;
}
#lbMain {
	position:absolute;
	left:0;
	width:100%;
	z-index:99999;
	text-align:center;
	line-height:0;
}
#lbMain a img {
	border:none;
}
#lbOuterContainer {
	position:relative;
	background-color:#fff;
	width:200px;
	height:200px;
	margin:0 auto;
}
#lbOuterContainer.grey {
	border:3px solid #888888;
}
#lbOuterContainer.red {
	border:3px solid #DD0000;
}
#lbOuterContainer.green {
	border:3px solid #00B000;
}
#lbOuterContainer.blue {
	border:3px solid #5F89D8;
}
#lbOuterContainer.gold {
	border:3px solid #B0B000;
}
#lbDetailsContainer {
	font:10px Verdana, Helvetica, sans-serif;
	background-color:#fff;
	width:100%;
	line-height:1.4em;
	overflow:auto;
	margin:0 auto;
}
#lbDetailsContainer.grey {
	border:3px solid #888888;
	border-top:none;
}
#lbDetailsContainer.red {
	border:3px solid #DD0000;
	border-top:none;
}
#lbDetailsContainer.green {
	border:3px solid #00B000;
	border-top:none;
}
#lbDetailsContainer.blue {
	border:3px solid #5F89D8;
	border-top:none;
}
#lbDetailsContainer.gold {
	border:3px solid #B0B000;
	border-top:none;
}
#lbImageContainer, #lbIframeContainer {
	padding:10px;
}
#lbLoading {
	position:absolute;
	top:45%;
	left:0%;
	height:32px;
	width:100%;
	text-align:center;
	line-height:0;
	background:url('../../plugins/system/modalizer/modals/lytebox/images/loading.gif') center no-repeat;
}
#lbHoverNav {
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	z-index:10;
}
#lbImageContainer>#lbHoverNav {
	left:0;
}
#lbHoverNav a {
	outline:none;
}
#lbPrev {
	width:49%;
	height:100%;
	background:transparent url('../../plugins/system/modalizer/modals/lytebox/images/blank.gif') no-repeat;
	display:block;
	left:0;
	float:left;
}
#lbPrev.grey:hover, #lbPrev.grey:visited:hover {
	background:url('../../plugins/system/modalizer/modals/lytebox/images/prev_grey.gif') left 15% no-repeat;
}
#lbPrev.red:hover, #lbPrev.red:visited:hover {
	background:url('../../plugins/system/modalizer/modals/lytebox/images/prev_red.gif') left 15% no-repeat;
}
#lbPrev.green:hover, #lbPrev.green:visited:hover {
	background:url('../../plugins/system/modalizer/modals/lytebox/images/prev_green.gif') left 15% no-repeat;
}
#lbPrev.blue:hover, #lbPrev.blue:visited:hover {
	background:url('../../plugins/system/modalizer/modals/lytebox/images/prev_blue.gif') left 15% no-repeat;
}
#lbPrev.gold:hover, #lbPrev.gold:visited:hover {
	background:url('../../plugins/system/modalizer/modals/lytebox/images/prev_gold.gif') left 15% no-repeat;
}
#lbNext {
	width:49%;
	height:100%;
	background:transparent url('../../plugins/system/modalizer/modals/lytebox/images/blank.gif') no-repeat;
	display:block;
	right:0;
	float:right;
}
#lbNext.grey:hover, #lbNext.grey:visited:hover {
	background:url('../../plugins/system/modalizer/modals/lytebox/images/next_grey.gif') right 15% no-repeat;
}
#lbNext.red:hover, #lbNext.red:visited:hover {
	background:url('../../plugins/system/modalizer/modals/lytebox/images/next_red.gif') right 15% no-repeat;
}
#lbNext.green:hover, #lbNext.green:visited:hover {
	background:url('../../plugins/system/modalizer/modals/lytebox/images/next_green.gif') right 15% no-repeat;
}
#lbNext.blue:hover, #lbNext.blue:visited:hover {
	background:url('../../plugins/system/modalizer/modals/lytebox/images/next_blue.gif') right 15% no-repeat;
}
#lbNext.gold:hover, #lbNext.gold:visited:hover {
	background:url('../../plugins/system/modalizer/modals/lytebox/images/next_gold.gif') right 15% no-repeat;
}
#lbPrev2, #lbNext2 {
	text-decoration:none;
	font-weight:bold;
}
#lbPrev2.grey, #lbNext2.grey, #lbSpacer.grey {
	color:#333333;
}
#lbPrev2.red, #lbNext2.red, #lbSpacer.red {
	color:#620000;
}
#lbPrev2.green, #lbNext2.green, #lbSpacer.green {
	color:#003300;
}
#lbPrev2.blue, #lbNext2.blue, #lbSpacer.blue {
	color:#01379E;
}
#lbPrev2.gold, #lbNext2.gold, #lbSpacer.gold {
	color:#666600;
}
#lbPrev2_Off, #lbNext2_Off {
	font-weight:bold;
}
#lbPrev2_Off.grey, #lbNext2_Off.grey {
	color:#CCCCCC;
}
#lbPrev2_Off.red, #lbNext2_Off.red {
	color:#FFCCCC;
}
#lbPrev2_Off.green, #lbNext2_Off.green {
	color:#82FF82;
}
#lbPrev2_Off.blue, #lbNext2_Off.blue {
	color:#B7CAEE;
}
#lbPrev2_Off.gold, #lbNext2_Off.gold {
	color:#E1E100;
}
#lbDetailsData {
	padding:0 10px;
}
#lbDetailsData.grey {
	color:#333333;
}
#lbDetailsData.red {
	color:#620000;
}
#lbDetailsData.green {
	color:#003300;
}
#lbDetailsData.blue {
	color:#01379E;
}
#lbDetailsData.gold {
	color:#666600;
}
#lbDetails {
	width:60%;
	float:left;
	text-align:left;
}
#lbCaption {
	display:block;
	font-weight:bold;
}
#lbNumberDisplay {
	float:left;
	display:block;
	padding-bottom:1.0em;
}
#lbNavDisplay {
	float:left;
	display:block;
	padding-bottom:1.0em;
}
#lbClose {
	width:64px;
	height:28px;
	float:right;
	margin-bottom:1px;
}
#lbClose.grey {
	background:url('../../plugins/system/modalizer/modals/lytebox/images/close_grey.png') no-repeat;
}
#lbClose.red {
	background:url('../../plugins/system/modalizer/modals/lytebox/images/close_red.png') no-repeat;
}
#lbClose.green {
	background:url('../../plugins/system/modalizer/modals/lytebox/images/close_green.png') no-repeat;
}
#lbClose.blue {
	background:url('../../plugins/system/modalizer/modals/lytebox/images/close_blue.png') no-repeat;
}
#lbClose.gold {
	background:url('../../plugins/system/modalizer/modals/lytebox/images/close_gold.png') no-repeat;
}
#lbPlay {
	width:64px;
	height:28px;
	float:right;
	margin-bottom:1px;
}
#lbPlay.grey {
	background:url('../../plugins/system/modalizer/modals/lytebox/images/play_grey.png') no-repeat;
}
#lbPlay.red {
	background:url('../../plugins/system/modalizer/modals/lytebox/images/play_red.png') no-repeat;
}
#lbPlay.green {
	background:url('../../plugins/system/modalizer/modals/lytebox/images/play_green.png') no-repeat;
}
#lbPlay.blue {
	background:url('../../plugins/system/modalizer/modals/lytebox/images/play_blue.png') no-repeat;
}
#lbPlay.gold {
	background:url('../../plugins/system/modalizer/modals/lytebox/images/play_gold.png') no-repeat;
}
#lbPause {
	width:64px;
	height:28px;
	float:right;
	margin-bottom:1px;
}
#lbPause.grey {
	background:url('../../plugins/system/modalizer/modals/lytebox/images/pause_grey.png') no-repeat;
}
#lbPause.red {
	background:url('../../plugins/system/modalizer/modals/lytebox/images/pause_red.png') no-repeat;
}
#lbPause.green {
	background:url('../../plugins/system/modalizer/modals/lytebox/images/pause_green.png') no-repeat;
}
#lbPause.blue {
	background:url('../../plugins/system/modalizer/modals/lytebox/images/pause_blue.png') no-repeat;
}
#lbPause.gold {
	background:url('../../plugins/system/modalizer/modals/lytebox/images/pause_gold.png') no-repeat;
}
/* FILE: /templates/system/css/system.css */
 input.system-openid, input.com-system-openid {
	background:url('../../../openid.net/images/login-bg.gif') no-repeat;
	background-color:#fff;
	background-position:0 50%;
	color:#000;
	padding-left:18px;
}
.system-unpublished {
	background:#e8edf1;
	border-top:4px solid #c4d3df;
	border-bottom:4px solid #c4d3df;
}
#system-message {
	margin-bottom:10px;
	padding:0;
}
#system-message dt {
	font-weight:bold;
}
#system-message dd {
	margin:0;
	font-weight:bold;
	text-indent:30px;
}
#system-message dd ul {
	color:#0055BB;
	margin-bottom:10px;
	list-style:none;
	padding:10px;
	border-top:3px solid #84A7DB;
	border-bottom:3px solid #84A7DB;
}
#system-message dt.message {
	display:none;
}
#system-message dt.error {
	display:none;
}
#system-message dd.error ul {
	color:#c00;
	background-color:#E6C0C0;
	border-top:3px solid #DE7A7B;
	border-bottom:3px solid #DE7A7B;
}
#system-message dt.notice {
	display:none;
}
#system-message dd.notice ul {
	color:#c00;
	background:#EFE7B8;
	border-top:3px solid #F0DC7E;
	border-bottom:3px solid #F0DC7E;
}
#system-debug {
	color:#ccc;
	background-color:#fff;
	padding:10px;
	margin:10px;
}
#system-debug div {
	font-size:11px;
}
/* FILE: /templates/system/css/general.css */
 .invalid {
	border-color:#ff0000;
}
label.invalid {
	color:#ff0000;
}
#editor-xtd-buttons {
	padding:5px;
}
.button2-left, .button2-right, .button2-left div, .button2-right div {
	float:left;
}
.button2-left a, .button2-right a, .button2-left span, .button2-right span {
	display:block;
	height:22px;
	float:left;
	line-height:22px;
	font-size:11px;
	color:#666;
	cursor:pointer;
}
.button2-left span, .button2-right span {
	cursor:default;
	color:#999;
}
.button2-left .page a, .button2-right .page a, .button2-left .page span, .button2-right .page span {
	padding:0 6px;
}
.page span {
	color:#000;
	font-weight:bold;
}
.button2-left a:hover, .button2-right a:hover {
	text-decoration:none;
	color:#0B55C4;
}
.button2-left a, .button2-left span {
	padding:0 24px 0 6px;
}
.button2-right a, .button2-right span {
	padding:0 6px 0 24px;
}
.button2-left {
	background:url('../../templates/system/images/j_button2_left.png') no-repeat;
	float:left;
	margin-left:5px;
}
.button2-right {
	background:url('../../templates/system/images/j_button2_right.html') 100% 0 no-repeat;
	float:left;
	margin-left:5px;
}
.button2-left .image {
	background:url('../../templates/system/images/j_button2_image.png') 100% 0 no-repeat;
}
.button2-left .readmore {
	background:url('../../templates/system/images/j_button2_readmore.png') 100% 0 no-repeat;
}
.button2-left .pagebreak {
	background:url('../../templates/system/images/j_button2_pagebreak.png') 100% 0 no-repeat;
}
.button2-left .blank {
	background:url('../../templates/system/images/j_button2_blank.png') 100% 0 no-repeat;
}
div.tooltip {
	float:left;
	background:#ffc;
	border:1px solid #D4D5AA;
	padding:5px;
	max-width:200px;
	z-index:13000;
}
div.tooltip h4 {
	padding:0;
	margin:0;
	font-size:95%;
	font-weight:bold;
	margin-top:-15px;
	padding-top:15px;
	padding-bottom:5px;
	background:url('../../templates/system/images/selector-arrow.png') no-repeat;
}
div.tooltip p {
	font-size:90%;
	margin:0;
}
.img_caption.left {
	float:left;
	margin-right:1em;
}
.img_caption.right {
	float:right;
	margin-left:1em;
}
.img_caption.left p {
	clear:left;
	text-align:center;
}
.img_caption.right p {
	clear:right;
	text-align:center;
}
.img_caption {
	text-align:center!important;
}
.img_caption.none {
	margin-left:auto;
	margin-right:auto;
}
.caption.left {
	float:left;
	margin-right:1em;
}
.caption.right {
	float:right;
	margin-left:1em;
}
.caption.left p {
	clear:left;
	text-align:center;
}
.caption.right p {
	clear:right;
	text-align:center;
}
.caption.none {
	margin-left:auto;
	margin-right:auto;
}
.caption {
	text-align:center!important;
}
a img.calendar {
	width:16px;
	height:16px;
	margin-left:3px;
	background:url('../../templates/system/images/calendar.png') no-repeat;
	cursor:pointer;
	vertical-align:middle;
}
/* FILE: /templates/o2c-template/css/addons.css */
 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	background:transparent;
}
body {
	line-height:1;
}
blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content:'';
}
ul {
	list-style:none;
}
:focus {
	outline:0;
}
ins {
	text-decoration:none;
}
del {
	text-decoration:line-through;
}
table {
	border-collapse:collapse;
	border-spacing:0;
	empty-cells:show;
}
* html .clearfix {
	height:1%;
}
html[xmlns] .clearfix {
	display:block;
}
.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clear, .divider {
	clear:both;
}
.no-display {
	display:none !important;
}
.nowrap, .nobr {
	white-space:nowrap !important;
}
.no-border {
	border:0 !important;
}
.no-padding {
	padding:0 !important
}
.no-margin {
	margin:0 !important;
}
.v-top {
	vertical-align:top;
}
.v-middle {
	vertical-align:middle;
}
.v-bottom {
	vertical-align:bottom;
}
.a-left {
	text-align:left;
}
.a-center {
	text-align:center;
}
.a-right {
	text-align:right;
}
.left {
	float:left;
}
.right {
	float:right;
}
.auto-width {
	width:auto;
}
html {
	min-height:100%;
	border-bottom:1px solid transparent;
}
.gk_unvisible {
	height:1px;
	left:-10000px;
	overflow:hidden;
	position:absolute;
	top:auto;
	width:1px;
}
/* FILE: /templates/o2c-template/css/layout.css */
   .wrap {
	width:100%;
	clear:both;
}
.main {
	width:960px;
	max-width:1200px;
	margin:0 auto;
	position:relative;
}
.static {
	position:static;
}
.column {
	overflow:hidden;
	float:left;
}
.gk-mass {
	clear:both;
	margin-bottom:10px;
}
.main .inner {
	padding:10px;
}
.main .inner.ctop {
	padding-top:0;
}
.main .inner.cbottom {
	padding-bottom:0;
}
.main .inner.cleft {
	padding-left:0;
}
.main .inner.cright {
	padding-right:0;
}
.article_column .contentpaneopen {
	padding-left:10px;
	padding-right:10px;
}
.article_row {
	margin-left:-10px;
	margin-right:-10px;
}
#gk-mainbody {
	float:left;
}
#gk-mainbody div {
	border:none;
}
#gk-current-content, #gk-main {
	float:right;
}
#gk-right {
	float:right;
}
.gk-mass-bottom {
	margin-bottom:0!important;
}
#gk-footer {
	clear:both;
}
.article_column {
	float:left;
	position:relative;
}
.cols1 .article_column {
	width:100%;
}
.cols2 .article_column {
	width:50%;
}
.cols3 .article_column {
	width:33.33%;
}
.cols4 .article_column {
	width:25%;
}
.cols5 .article_column {
	width:20%;
}
.gk-box {
	float:left;
	overflow:hidden;
}
/* FILE: /templates/o2c-template/css/template.css */
 body {
	font-size:13px;
	line-height:1.7;
}
body#bd {
	color:#333333;
/*	background:url('../../templates/o2c-template/images/bg_ottawa.jpg') #2A486B no-repeat fixed;   */
	background-width:100%;
	background-height:100%;
	background-color:#dddddd;
	background-position:top center;
}
body.fs1 {
	font-size:11px
}
body.fs2 {
	font-size:12px
}
body.fs3 {
	font-size:13px
}
body.fs4 {
	font-size:14px
}
body.fs5 {
	font-size:15px
}
body.fs6 {
	font-size:16px
}
div {
	border:none;
}
a {
	color:#333333;
	text-decoration:none
}
a:hover, a:active, a:focus {
	color:#b02500;
	text-decoration:underline
}
#gk-topmenu li {
	color:#ffffff;
}
#gk-topmenu a {
	color:#ffffff;
}
#gk-topmenu a:hover {
	color:#ffffff;
	text-decoration:underline
}
#gk-mainbody a {
	color:#b02500;
}
#gk-mainbody a:hover {
	color:#000;
}
.column p, .column pre, .column blockquote, .column ol, .column ul {
	margin:10px 0;
	padding:0
}
.article-content p {
	line-height:160%!important;
	padding-bottom:7px;
}
h1, h2, h3, h4, h5 {
	color:#2A486B;
}
h1 {
	font-size:180%
}
h2 {
	font-size:150%
}
h3 {
	font-size:125%
}
h4 {
	font-size:110%
}
h5 {
	font-size:100%
}
#gk-wrapper {
	padding:0;
	margin:0 auto 20px auto;
}
#gk-content {
	float:left;
}
#gk-toolbar {
	margin:20px 0 10px 0;
	overflow:hidden;
	color:#ffffff;
}
#gk-toolbar a {
	color:#ffffff;
	margin:0 6px 0 0;
	font-size:90%;
	display:block;
	float:right;
	line-height:24px;
	padding:0 8px;
}
#gk-toolbar a.popup {
	-moz-box-shadow:1px 1px 1px #666;
	-webkit-box-shadow:1px 1px 1px #666;
	text-decoration:none!important;
	background:#efecea;
}
#gk-topmenu {
	float:right;
	text-align:right;
	width:auto;
	line-height:24px;
	margin-top:-5px;
}
#gk-search {
	float:right;
	width:auto;
	line-height:24px;
}
#gk-login {
	float:right;
	width:auto;
	line-height:24px;
}
#gk-register {
	float:right;
	width:auto;
	line-height:24px;
}
#gk-tools {
	float:right;
	min-width:300px;
	text-align:right;
}
div#gk-tools #btn_tools {
	margin-right:16px
}
div#gk-tools .tools_btn {
	cursor:pointer;
	padding:0;
	display:block;
	float:left;
	width:16px;
	height:16px;
	border:none;
	text-indent:-10000px;
	text-align:left;
	background:transparent url('../../templates/o2c-template/images/user-tools.png') no-repeat 0 0
}
div#gk-tools a:hover.tools_btn {
	background-position:0 100%
}
#gk-tool-reset {
	background-position:-16px 0!important
}
#gk-tool-decrease {
	background-position:-32px 0!important
}
#gk-tool-auto {
	background-position:-69px 0!important
}
#gk-tool-wide {
	background-position:-94px 0!important
}
#gk-tool-narrow {
	background-position:-117px 0!important
}
#gk-tool-reset:hover {
	background-position:-16px 100%!important
}
#gk-tool-decrease:hover {
	background-position:-32px 100%!important
}
#gk-tool-auto:hover {
	background-position:-69px 100%!important
}
#gk-tool-wide:hover {
	background-position:-94px 100%!important
}
#gk-tool-narrow:hover {
	background-position:-117px 100%!important
}
#gk-nav {
	width:100%;
	margin:25px 0 15px 0;
	float:left;
	z-index:1000;
}
.top_offset {
	margin-top:64px!important;
}
.no_margin {
	margin-bottom:0!important;
}
h1.logo, div.logo-text {
	float:left;
	padding:0 10px 0 0;
}
h1.logo {
	width:150px;
	height:70px;
	background:url('../../templates/o2c-template/images/logo.png?2') no-repeat 0 0;
	padding:0;
	margin-top:-50px;
}
h1.logo>a {
	text-indent:-999em;
	display:block;
	width:150px;
	height:100%;
}
div.logo-text h1 {
	font-size:18px;
	line-height:26px;
	height:26px;
	color:#6b6459;
	text-transform:uppercase;
}
div.logo-text h1 a {
	color:#6b6459;
}
div.logo-text h1 a:hover {
	text-decoration:none;
}
div.logo-text p {
	font-size:11px;
	line-height:14px;
	height:14px;
	color:#6b6459;
	text-transform:uppercase;
	letter-spacing:0.65px;
}
.gk-nav {
	margin-left:0;
}
#gk-header {
	float:left;
	margin:auto 0 10px 0;
}
#gk-breadcrumb {
	margin:0 0 0 0;
	font-size:100%;
	background:url('../../templates/o2c-template/images/breadcrumb-bg.png') repeat-x;
	height:34px;
	line-height:34px;
	color:#ffffff;
	padding:0;
	clear:both;
}
#gk-date {
	width:auto;
	float:right;
}
#gk-header-block {
	color:#e75630;
	margin:0 0 10px 0;
	overflow:hidden;
	background:url('../../templates/o2c-template/images/header_red_bg.jpg') no-repeat 0 0;
}
#gk-header-block .moduletable, #gk-header-block .moduletable_menu, #gk-header-block .moduletable_text, #gk-header-block .moduletable.color, #gk-header-block .moduletable.dark {
	background:none!important;
	border:none!important;
	padding:50px 25px 40px 25px;
}
#gk-header-block .column:first-child .moduletable, #gk-header-block .column:first-child .moduletable_menu, #gk-header-block .column:first-child .moduletable_text, #gk-header-block .column:first-child .moduletable.color, #gk-header-block .column:first-child .moduletable.dark {
	padding:50px 25px 40px 50px;
}
#gk-header-block .gk-box-right .moduletable, #gk-header-block .gk-box-right .moduletable_menu, #gk-header-block .gk-box-right .moduletable_text, #gk-header-block .gk-box-right .moduletable.color, #gk-header-block .gk-box-right .moduletable.dark {
	padding-right:50px!important;
}
#gk-header-block .moduletable.clear, #gk-header-block .moduletable.clear:first-child {
	padding:0!important;
}
#gk-header-block .moduletable_content {
	color:#fff;
}
#gk-header-block .moduletable_content h4 {
	color:#fff;
}
#gk-header-highlight {
	clear:both;
	overflow:hidden;
	padding:7px 10px;
	background:url('../../templates/o2c-template/images/header_red_bar.jpg') repeat-y 0 0;
}
#gk-header-block h4.header_art {
	font-size:24px;
	font-weight:bold;
	text-transform:uppercase;
	letter-spacing:-1px;
}
#gk-header-block p.header_art {
	font-size:16px;
	font-style:italic;
}
#gk-header-block a.readon {
	background:#b02500;
}
#gk-header-block a.readon:hover {
	background:#ec3200;
}
#gk-header-block a.readon.header_art {
	height:25px;
	line-height:25px;
	padding-left:6px;
	padding-right:6px;
	font-weight:normal;
	background:#fff;
	color:#ec3200;
}
#gk-header-block a.readon.header_art:hover {
	background:#b02500;
	color:#fff;
	cursor:pointer;
}
#gk-header-block h3 {
	background:transparent;
	font-size:18px;
	padding:0;
}
#gk-header-block li {
	border-top:1px solid #e75630;
	background:none;
	padding-left:0;
}
#gk-header-block a {
	color:#f3beb0;
}
#gk-header-block a:hover {
	color:#fff;
	text-decoration:none
}
#gk-header-block li:first-child {
	border-top:none;
}
div#gk-current-content>div>div.inner {
	padding:24px;
	background:#fff;
	border-top:none!important;
	border-left:none!important;
}
#gk-container {
	margin-bottom:10px;
}
#gk-current-content {
	float:right!important;
}
.gk-box-left .moduletable, .gk-box-left .moduletable_menu, .gk-box-left .moduletable_text {
	margin-right:5px!important;
}
.gk-box-center .moduletable, .gk-box-center .moduletable_menu, .gk-box-center .moduletable_text {
	margin-left:5px!important;
	margin-right:5px!important;
}
.gk-box-right .moduletable, .gk-box-right .moduletable_menu, .gk-box-right .moduletable_text {
	margin-left:5px!important;
}
.moduletable>h3 {
	width:100%;
	border-bottom:1px dotted #2A486B;
	margin-bottom:7px;
}
.moduletable_menu>h3, .moduletable_text>h3 {
	width:100%;
	height:20px;
	line-height:20px;
	text-transform:none;
	color:#2A486B;
	font-weight:bold;
	font-size:16px;
	padding:4px;
	float:left;
	width:auto;
	margin-bottom:10px;
}
.moduletable.dark h3 {
	width:100%;
	border-bottom:1px dotted #ffffff;
}
.moduletable .moduletable_content, .moduletable_menu .moduletable_content, .moduletable_text .moduletable_content {
	clear:both;
	color:#333333;
}
.moduletable.dark .moduletable_content {
	clear:both;
}
.moduletable a {
	color:#666666;
}
.moduletable a:hover {
	color:#2A486B;
}
.moduletable a:focus {
	color:#2A486B;
}
.moduletable, .moduletable_menu, .moduletable_text {
	margin-top:10px!important;
	padding:24px;
	background:#fff;
	border:1px solid #c8c3be;
	border-top:none!important;
	border-left:none!important;
}
.moduletable.dark {
	border:1px dotted #ffffff;
}
.moduletable:first-child, .moduletable_menu:first-child, .moduletable_text:first-child {
	margin-top:0!important
}
.moduletable ul, .moduletable_menu ul, .moduletable_text ul {
	padding-top:7px;
	margin:0;
}
.moduletable ul li, .moduletable_menu ul li, .moduletable_text ul li {
	border-top:1px solid #dad6d1;
	min-height:24px;
	line-height:24px;
	padding:0 0 0 14px;
	background:transparent url('../../templates/o2c-template/images/menu_bullet.png') no-repeat 4px 8px;
}
.moduletable.dark ul li {
	border-top:1px solid #B9D139;
}
.moduletable ul li:first-child, .moduletable_menu ul li:first-child, .moduletable_text ul li:first-child {
	border-top:none!important;
}
.moduletable.dark a {
	color:#ffffff!important;
}
.moduletable.dark a:hover {
	color:#ffffff!important;
}
.moduletable.dark {
	background:transparent url('../../templates/o2c-template/images/style2/header_green_bg.jpg') no-repeat 0 0;
	border:1px solid #005700;
}
.moduletable.dark p, .moduletable.dark div {
	color:#ffffff!important;
}
.moduletable.dark span {
	color:#eee!important
}
.moduletable.dark h3, .moduletable.dark h4 {
	color:#fff!important;
}
.moduletable.dark a.readon {
	color:#666666!important;
	background:#ffffff
}
.moduletable.dark a.readon:hover, .moduletable.dark a.readon:active, .moduletable.dark a.readon:focus {
	background:#fffff;
	color:#666666!important;
}
.moduletable.dark .button {
	background:#ffffff;
	border:1px solid #6C6459!important;
	border-top:none!important;
	border-left:none!important;
	color:#666666!important;
	height:30px;
	line-height:30px;
	font-size:13px;
	margin-top:6px;
	margin-bottom:6px;
}
.moduletable.dark .button:hover, .moduletable.dark .button:focus {
	background:#f1f1f1!important;
}
.moduletable_menu ul li {
	border-style:dotted
}
.moduletable_menu ul li ul {
	border-left:1px dotted #DAD6D1;
	margin:0 0 6px 10px;
	padding-left:6px;
}
.moduletable_menu a {
	color:#ffffff
}
.moduletable_menu a:hover {
	color:#ffffff
}
.moduletable.color {
	background:transparent url('../../templates/o2c-template/images/header_red_bg.jpg') no-repeat 0 0;
	border:1px solid #ffffff;
}
.moduletable.color h3 {
	width:100%;
	border-bottom:1px dotted #ffffff;
}
.moduletable.color ul li {
	border-top:1px solid #d02500;
	background:transparent url('../../templates/o2c-template/images/menu_bullet_hover.png') no-repeat 4px 8px;
}
.moduletable.color a {
	color:#fff!important;
}
.moduletable.color a:hover {
	color:#ffffff!important;
}
.moduletable.color .moduletable_content {
	color:#fff
}
.moduletable.color, .moduletable.color p, .moduletable.color div {
	color:#fff!important;
}
.moduletable.color ul li ul {
	border-left:1px dotted #d02500;
}
.moduletable.color span {
	color:#eee!important
}
.moduletable.color h3, .moduletable.color h4 {
	color:#fff!important;
}
.moduletable.color a.readon {
	color:#fff!important;
	background:#ec3200;
}
.moduletable.color a.readon:hover, .moduletable.color a.readon:active, .moduletable.color a.readon:focus {
	background:#b02500;
	color:#fff!important;
}
.moduletable.color .button {
	margin:2px;
	background:#ffffff;
	border:1px solid #ec3200!important;
	border-top:none!important;
	border-left:none!important;
	color:#2A486B!important;
	height:30px;
	line-height:30px;
	font-size:13px;
	margin-top:6px;
	margin-bottom:6px;
}
.moduletable.color .button:hover, .moduletable.color .button:focus {
	background:#f1f1f1!important;
}
.k2ItemsBlock li, .k2LatestCommentsBlock li {
	background:none!important;
}
.moduletable.clear, .moduletable.clear .moduletable_content {
	background:none!important;
	border:none!important;
	padding:0!important
}
.moduletable.breadcrumb, .moduletable.breadcrumb .moduletable_content {
	width:100%;
	overflow:hidden;
	font-size:100%!important;
	margin:0;
	height:34px;
	line-height:34px;
	color:#ffffff;
	padding:0 15px;
	border:none;
	clear:both;
}
.moduletable.headerbg, .moduletable.headerbg .moduletable_content {
	background:none!important;
	border:none!important;
	padding:0!important;
	margin-top:-15px;
}
.moduletable.headersm, .moduletable.headersm .moduletable_content {
	background:none!important;
	border:none!important;
	padding:0!important;
	margin-top:-10px;
	margin-bottom:5px;
}
#gk-footer {
	overflow:hidden;
	font-size:90%!important;
	margin:10 0 0 0;
	background:url('../../templates/o2c-template/images/breadcrumb-bg.png') repeat-x;
	height:34px;
	line-height:34px;
	color:#ffffff;
	padding:0 15px;
	clear:both;
}
#gk-footer a {
	color:#ffffff;
}
#gk-footer a:hover {
	text-decoration:underline;
}
#stylearea {
	float:right;
	margin:0 0 0 20px;
	width:auto;
	font-size:90%!important
}
.gk-footnav {
	float:left;
	width:auto;
}
.gk-footnav li {
	float:left;
	width:auto;
	padding-right:7px;
}
.gk-copyright {
	float:right;
}
#t3_logo {
	display:block;
	width:160px;
	height:20px;
	margin:20px auto;
	background:url('../../templates/o2c-template/images/t3-logo.png') no-repeat 0 0;
	text-indent:-999em
}
#t3_logo:hover {
	background-position:0 bottom
}
#jflanguageselection {
	float:right!important;
	margin-bottom:10px!important;
	margin-left:2px!important;
	margin-right:0px!important;
	margin-top:6px!important;
}
/* FILE: /templates/o2c-template/css/joomla.css */
  a.readon {
	display:inline-block;
	color:#fff;
	font-size:90%;
	font-weight:bold;
	height:16px;
	line-height:16px;
	width:auto;
	text-decoration:none;
	text-transform:uppercase;
	margin:2px 0;
	padding:0 4px;
	background:#d1cecb;
}
a.readon:hover, a.readon:active, a.readon:focus {
	background:#2A486B;
	color:#fff;
}
#gk-mainbody a.readon, #gk-mainbody .button, #gk-mainbody button {
	color:#fff;
}
.componentheading {
	font-weight:bold;
	font-size:200%;
	clear:both;
	overflow:hidden;
	color:#2A486B;
	margin-bottom:25px;
}
.contentheading {
	font-weight:bold;
	font-size:220%;
	margin-top:12px;
	clear:both;
	overflow:hidden;
}
.componentheading span {
	display:block;
	float:left;
	clear:both;
	margin:10px 0 0 0;
}
a.contentpagetitle, a.contentpagetitle:hover, a.contentpagetitle:active, a.contentpagetitle:focus {
	font-weight:bold;
}
div.display {
	margin:10px 0;
}
small, .small, .smalldark, .img_caption, .contenttoc {
	font-size:90%;
}
.modifydate {
	font-style:italic;
	font-size:90%;
}
.smalldark {
	text-align:left;
}
th {
	font-weight:bold;
	padding:5px 0;
	text-align:left;
}
td {
	font-size:100%;
	padding:5px;
}
fieldset {
	border:none;
	padding:10px 0;
}
fieldset a {
	font-weight:bold;
}
fieldset.input {
	padding:0;
}
hr {
	border-bottom:0;
	border-left:0;
	border-right:0;
	border-top:1px solid #DEDEDE;
	height:1px;
}
label {
	margin:0 10px 0 0;
}
input, select, textarea, .inputbox {
	background:#ffffff;
	border:1px solid #DEDEDE;
	padding:0 0 0 6px;
	color:#333333;
	margin-bottom:8px;
}
input, select {
	height:24px;
	line-height:24px;
}
.adminform button, #adminForm button, .button {
	display:block;
	background:#7087ad;
	border:1px solid #666666!important;
	border-top:none!important;
	border-left:none!important;
	color:#fff;
	font-weight:bold;
	height:28px;
	line-height:28px;
	font-size:13px;
	margin-top:6px;
	margin-bottom:6px;
	font-family:Arial;
}
.adminform button, #adminForm button {
	float:left;
	margin-left:4px;
}
input.button {
	padding-left:5px;
	padding-right:5px;
}
.adminform button:hover, #adminForm button:hover, .adminform button:focus, #adminForm button:focus, .button:hover, .button:focus {
	background:#7a93ba;
	cursor:pointer;
}
input[type=checkbox], .checkbox {
	height:auto!important;
}
input[type=radio], .radio {
	height:auto!important;
}
select[size] {
	height:auto;
}
#component {
	margin:0;
}
.article_separator, .leading_separator, .row_separator, .column_separator {
	display:none;
}
.leading {
	padding-bottom:3px;
	padding-top:3px;
}
.article_row {
	padding-bottom:10px;
	padding-top:10px;
}
.column_separator {
	padding:0 25px;
}
.article-tools {
	clear:both;
	display:block;
	margin:0 0 20px;
}
.article-meta {
	float:left;
	margin-top:6px;
	padding:0;
	font-size:90%
}
.article-meta a.comments {
	margin:0 10px 0 0;
}
.article-meta span {
	margin:0 10px 0 0;
}
.contentdescription {
	display:block;
	padding:10px 0;
}
.contentdescription p {
	margin:0;
}
.buttonheading {
	float:right;
	padding-left:4px;
}
.buttonheading img {
	border:0;
	float:right;
	margin:0 3px 0 0;
}
.contentpaneopen_edit {
	float:right!important;
	margin-right:2px;
}
.tool-tip {
	background:#fff;
	padding:5px;
	border:1px solid #B0B1B1;
	border-top:none;
	border-left:none;
}
.tool-title {
	background:#7087ad;
	color:#fff;
	text-transform:uppercase;
	font-weight:bold;
	padding:3px;
}
.tool-text {
	padding:3px;
}
img.caption {
	margin-top:10px;
}
.img_caption {
	margin-bottom:10px;
	font-size:90%;
	font-style:italic;
	text-transform:uppercase;
}
.article-content img {
	margin:10px;
}
.img_caption img {
	margin:10px 0 0;
	padding:6px;
	border:1px dotted #DEDEDE
}
.img_caption p {
	margin:0;
	padding:10px;
	text-align:center;
}
.img_caption.left {
	float:left;
	margin-right:3em;
}
.img_caption.right {
	float:right;
	margin-left:3em;
}
.sectiontableheader {
	background:#7087ad;
	color:#fff;
	font-weight:bold;
	padding:8px 10px;
	font-size:13px;
}
.sectiontableheader a, .sectiontableheader a:hover, .sectiontableheader a:focus, .sectiontableheader a:active {
	color:#fff!important;
}
.sectiontableentry td, .sectiontableentry0 td, .sectiontableentry1 td, .sectiontableentry2 td {
	padding:7px 10px;
	border-bottom:1px dotted #DEDEDE
}
table.contentpane, table.tablelist {
	width:100%;
}
table.contentpaneopen {
	border:none;
	border-collapse:collapse;
	border-spacing:0;
}
table.contenttoc {
	border:1px solid #DEDEDE;
	float:right;
	margin:0 0 10px 12px;
	padding:0;
	width:30%;
}
table.contenttoc a {
	color:#666;
}
table.contenttoc td {
	border-bottom:1px dotted #DEDEDE;
	padding:5px 10px;
}
table.contenttoc th {
	border-bottom:1px solid #DEDEDE;
	padding:5px 10px;
	text-transform:uppercase;
}
table.contentpaneopen, table.contentpane, table.blog {
	width:100%;
}
ul.pagination {
	float:left;
	margin:10px 0;
	padding:3px 0;
	width:75%;
	border:1px dotted #DEDEDE;
	border-left:none;
	border-right:none
}
ul.pagination li {
	background:none!important;
	display:block;
	float:left;
	margin:0 5px 3px 5px;
	overflow:hidden;
	color:#2A486B;
	font-size:80%;
	font-weight:bold;
	text-transform:uppercase;
	padding:0!important;
}
ul.pagination li span, ul.pagination a {
	padding:2px 8px;
}
ul.pagination a {
	text-decoration:none;
}
ul.pagination a:hover, ul.pagination a:active, ul.pagination a:focus, ul.pagination span:hover {
	background:#f1f1f1;
}
.sortby {
	font-size:92%;
	margin:10px 0 5px;
}
.sortby .filter, .sortby .display {
	float:left;
	width:40%;
}
.sortby .display {
	float:right;
	text-align:right;
}
.pagenavbar {
	font-weight:bold;
}
.pagenavcounter {
	margin:15px 0 !important;
	text-align:center;
}
.counter {
	float:right;
	line-height:1;
	margin:15px 0 !important;
	text-align:right;
	width:24%;
}
.counter span {
	background:#999999;
	color:#fff;
	font-size:80%;
	font-weight:bold;
	text-transform:uppercase;
	padding:2px 8px;
}
.blog_more {
	border-top:1px dotted #DEDEDE;
	padding:15px 0;
	margin:30px 0;
}
.blog_more h2 {
	font-size:120%!important;
	margin:0 0 10px!important;
}
.blog_more ul {
	padding:0;
	margin:0;
}
div.back_button a, div.back_button a:hover, div.back_button a:active {
	display:block;
	margin:10px 0;
}
#system-message {
	margin:0 0 4px;
	margin-top:4px;
	position:fixed;
	top:70px;
}
#system-message dd {
	padding:0!important;
	background:none!important;
}
#system-message dd.message ul, #system-message dd.error ul, #system-message dd.notice ul {
	margin:0;
	padding:0;
}
#system-message dd.message ul li, #system-message dd.error ul li, #system-message dd.notice ul li {
	background:none;
	color:#fff;
	margin:0;
	padding:5px 16px;
	text-indent:0;
}
#system-message dd.message ul {
	background:#aac900;
	border:1px solid #718500;
	border-left:none;
	border-top:none;
}
#system-message dd.error ul {
	background:#ec3200;
	border:1px solid #b02500;
	border-left:none;
	border-top:none;
}
#system-message dd.notice ul {
	background:#57a8f0;
	border:1px solid #115bb2;
	border-left:none;
	border-top:none;
}
.mod_login ul {
	margin-top:18px;
	font-size:90%
}
.mod_login ul li {
	background:url('../../templates/o2c-template/images/menu_bullet.png') no-repeat 0 6px;
	padding:0 0 0 14px
}
.mod_login ul li a {
	color:#333333
}
.mod_login ul li a:hover {
	color:#000
}
#component .login_form {
	margin-bottom:100px
}
p.username, p.password, p.remember {
	clear:both;
	padding:6px 0;
}
#component .login_form p.name, #component .login_form p.pass {
	float:left;
	margin-right:20px;
	padding:0;
}
#component .login_form p.remember {
	float:left;
	padding:0;
}
#component .login_form p.lost-noaccount a {
	margin:0 0 0 10px;
	padding:0 0 0 10px;
	border-left:1px dotted #999;
}
#component .form-register p label {
	width:120px;
	display:block;
	float:left
}
#component .form-register p input {
	width:220px
}
.mod_search>input#mod_search_ {
	background:#fff;
	height:23px;
	line-height:23px;
	border:1px solid #DEDEDE;
	border-bottom:none;
	border-right:none;
	width:174px;
	padding:0 0 0 6px;
	color:#2A486B;
}
table.searchintro {
	padding:10px 0;
	width:100%;
	margin-bottom:6px;
}
table.searchintro td {
	padding:5px !important;
}
form#searchForm {
	border-top:1px dotted #c8c4b4;
	padding:15px 0;
}
.searchintro {
	border-bottom:1px dotted #c8c4b4;
	margin-bottom:20px;
}
.results h4 {
	text-transform:none;
	font-size:110%;
	margin:15px 0 0;
}
.results h4 a {
	color:#666666!important
}
.results h4 a:hover {
	color:#000!important
}
.results p {
	margin:0 0 10px;
	color:#333333;
	font-size:90%
}
.results p span.small {
	font-size:100%
}
.results ol li {
	background:#EDF3FA;
	padding:10px;
	margin:10px
}
.contact-left {
	float:left;
}
.contact-right {
	float:right;
}
.contact-right img {
	margin:30px;
	border:1px solid #dcdad1;
	background:#f6f4f1;
	padding:6px
}
.contact-position {
	padding:0 0 20px;
	display:block
}
#component-contact address {
	font-style:normal;
}
#component-contact #emailForm {
	border-top:1px solid #ddd;
	padding-top:15px;
}
.contact_email {
	margin:0 0 10px;
}
.contact_email label {
	font-weight:bold;
	display:block;
}
.contact_email_checkbox {
	margin:15px 0;
}
.mod_breadcrumbs {
	float:left;
	width:auto;
	color:#ffffff;
	background:url('../../templates/o2c-template/images/style3/header_blue_bg.jpg') repeat-x transparent;
	height:34px;
	line-height:34px;
	color:#ffffff;
	padding:0 15px;
}
.mod_breadcrumbs>span.youah {
	text-transform:uppercase;
	margin:0 16px 0 0;
	font-size:100%;
}
.mod_breadcrumbs>span.pathway a {
	color:#ffffff;
}
.mod_breadcrumbs>span.pathway a:hover {
	color:#ffffff;
	text-decoration:underline;
}
.mod_breadcrumbs span, .mod_breadcrumbs a {
	color:#ffffff;
}
.polls_color_1, .polls_color_2, .polls_color_3, .polls_color_4, .polls_color_5 {
	border:none!important;
	height:8px!important;
}
.polls_color_1, .polls_color_2, .polls_color_3, .polls_color_4, .polls_color_5 {
	background:none;
}
#poll {
	margin:10px 0;
}
#poll button {
	background:#ffffff;
	border:1px solid #6C6459!important;
	border-top:none!important;
	border-left:none!important;
	color:#666666!important;
	height:30px;
	line-height:30px;
	font-size:13px;
}
#poll label {
	font-weight:bold;
}
#poll label select {
	margin-left:10px;
}
dl.poll dt {
	float:left;
	margin:0 10px 0 0;
	font-weight:bold;
}
dl.poll dd {
	font-style:italic;
}
.pollstableborder {
	width:100%;
}
.pollstableborder .sectiontableheader th {
	background:#6485BF;
	color:#fff;
	font-weight:normal;
	border:none;
	padding:8px 0;
}
.pollstableborder .sectiontableentry0, .pollstableborder .sectiontableentry1 {
	border-top:1px dotted #cec7bd
}
.pollstableborder .question {
	font-weight:bold;
	height:32px;
	padding-top:20px;
}
.pollstableborder .td_1, .pollstableborder .td_2 {
	text-align:center;
	border-right:1px dotted #cec7bd;
	width:10%;
}
.poll h3 {
	margin:20px 0;
}
iframe {
	background:#fff
}
.user-details label {
	width:40%;
	display:block;
	float:left;
	margin:0 5px 0 0!important;
	clear:left;
}
input.invalid {
	border:1px solid #ec3200!important;
	color:#b02500!important;
}
label.invalid {
	color:#b02500!important;
	font-weight:bold;
}
/* FILE: /templates/o2c-template/css/gk_stuff.css */
  #gk-nav #gk-splitmenu, #gk-nav #gksdl-mainnav, #gk-nav .gk-megamenu {
	box-shadow:1px 1px 12px #504a42;
	background:#6485BF;
	background:-moz-linear-gradient(top, #6485BF 0%, #638BCC 50%, #638BCC 51%, #5778B2 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #6485BF), color-stop(50%, #638BCC), color-stop(51%, #638BCC), color-stop(100%, #5778B2));
	background:-webkit-linear-gradient(top, #6485BF 0%, #638BCC 50%, #638BCC 51%, #5778B2 100%);
	background:-o-linear-gradient(top, #6485BF 0%, #638BCC 50%, #638BCC 51%, #5778B2 100%);
	background:-ms-linear-gradient(top, #6485BF 0%, #638BCC 50%, #638BCC 51%, #5778B2 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#6485BF', endColorstr='#5778B2', GradientType=0 );
	background:linear-gradient(top, #6485BF 0%, #638BCC 50%, #638BCC 51%, #5778B2 100%);
}
#gk-nav ul.level0, #gk-nav #gk-splitmenu>ul, #gk-nav #gksdl-mainnav>ul {
	height:40px;
}
#gk-nav ul.level0>li, #gk-nav #gk-splitmenu>ul>li, #gk-nav #gksdl-mainnav>ul>li {
	padding:0 11px 0 16px;
	height:40px;
	line-height:40px;
	margin:0 0;
	border-left:1px solid #888178;
}
#gk-nav ul.level0>li:first-child, #gk-nav #gk-splitmenu>ul>li:first-child, #gk-nav #gksdl-mainnav>ul>li:first-child {
	padding:0 11px 0 16px;
	border-left:none;
}
#gk-nav ul.level0>li>a, #gk-nav #gk-splitmenu>ul>li>a, #gk-nav #gksdl-mainnav>ul>li>a {
	color:#fff;
	padding:0 0;
}
#gk-nav ul.level0>li>a:hover, #gk-nav ul.level0>li:hover>a, #gk-nav #gk-splitmenu>ul>li>a:hover, #gk-nav #gk-splitmenu>ul>li:hover>a, #gk-nav #gksdl-mainnav>ul>li>a:hover, #gk-nav #gksdl-mainnav>ul>li:hover>a {
	display:block;
	height:40px;
	line-height:40px;
	background:#7a93ba;
	background:-moz-linear-gradient(top, #7a93ba 0%, #8ea6cc 50%, #8ea6cc 51%, #7087ad 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #7a93ba), color-stop(50%, #8ea6cc), color-stop(51%, #8ea6cc), color-stop(100%, #7087ad));
	background:-webkit-linear-gradient(top, #7a93ba 0%, #8ea6cc 50%, #8ea6cc 51%, #7087ad 100%);
	background:-o-linear-gradient(top, #7a93ba 0%, #8ea6cc 50%, #8ea6cc 51%, #7087ad 100%);
	background:-ms-linear-gradient(top, #7a93ba 0%, #8ea6cc 50%, #8ea6cc 51%, #7087ad 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#7A93BA', endColorstr='#7087AD', GradientType=0 );
	background:linear-gradient(top, #7a93ba 0%, #8ea6cc 50%, #8ea6cc 51%, #7087ad 100%);
	padding:0 11px 0 16px;
	margin:0 -11px 0 -16px;
}
#gk-nav ul.level0>li.active>a:hover, #gk-nav ul.level0>li.active>a, #gk-nav #gk-splitmenu>ul>li.active>a:hover, #gk-nav #gksdl-mainnav>ul>li.active>a:hover, #gk-nav #gk-splitmenu>ul>li.active>a, #gk-nav #gksdl-mainnav>ul>li.active>a {
	display:block;
	height:40px;
	line-height:40px;
	background:#4a75ba;
	background:-moz-linear-gradient(top, #4a75ba 0%, #5180cc 50%, #5180cc 51%, #416bad 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #4a75ba), color-stop(50%, #5180cc), color-stop(51%, #5180cc), color-stop(100%, #416bad));
	background:-webkit-linear-gradient(top, #4a75ba 0%, #5180cc 50%, #5180cc 51%, #416bad 100%);
	background:-o-linear-gradient(top, #4a75ba 0%, #5180cc 50%, #5180cc 51%, #416bad 100%);
	background:-ms-linear-gradient(top, #4a75ba 0%, #5180cc 50%, #5180cc 51%, #416bad 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#4A75BA', endColorstr='#416BAD', GradientType=0 );
	background:linear-gradient(top, #4a75ba 0%, #5180cc 50%, #5180cc 51%, #416bad 100%);
	;
	padding:0 11px 0 16px;
	margin:0 -11px 0 -16px;
}
#gk-nav ul.level0>li>div.childcontent {
	font-size:100%;
	margin-left:0!important;
	margin-top:0px!important;
	border-bottom:dotted 1px #7898CC;
	background:#6485BF;
	-moz-box-shadow:1px 1px 4px #504a42;
	-webkit-box-shadow:1px 1px 4px #504a42;
}
#gk-nav ul.level0>li li div.childcontent {
	font-size:100%;
	margin-left:190px!important;
	margin-top:-30px!important;
	border-bottom:dotted 1px #6485BF;
	background:#8ea6cc;
	-moz-box-shadow:1px 1px 4px #504a42;
	-webkit-box-shadow:1px 1px 4px #504a42;
}
#gk-nav div.childcontent ul {
	margin:0 7px;
}
#gk-nav .gk-megamenu .megacol > ul {
	padding:0!important;
}
#gk-nav div.childcontent ul li a {
	color:#DAE9FB;
	text-indent:12px;
}
#gk-nav div.childcontent ul li a:hover {
	color:#fff;
	text-decoration:underline;
}
#gk-nav div.childcontent ul li {
	height:30px;
	line-height:30px;
	background:transparent url('../../templates/o2c-template/images/menu_bullet.png') no-repeat 2px center;
	border-bottom:dotted 1px #7898CC;
}
#gk-nav div.childcontent ul li:hover {
	background:transparent url('../../templates/o2c-template/images/menu_bullet_hover.png') no-repeat 2px center;
	border-bottom:dotted 1px #7898CC;
}
#gk-nav div.childcontent ul li:first-child {
	border-top:none;
}
#gk-nav .gk-megamenu ul.level1 li.group {
	height:auto!important;
}
#gk-nav .gk-megamenu ul.level1 li.group .group-content {
	background:#6485BF
}
#gk-subnav {
	width:100%;
	position:relative;
	height:32px;
	z-index:99;
	border-top:dotted 1px #6485BF;
	background:#8ea6cc;
	font-size:100%;
	text-transform:none!important;
	clear:both;
	float:left;
}
#gk-subnav .menu-desc {
	display:none!important
}
#gk-subnav .main {
	line-height:1;
	z-index:100
}
#gk-subnav ul {
	background:none;
	height:20px;
	line-height:20px;
	padding:0
}
#gk-subnav ul.active {
	background:none
}
#gk-subnav li {
	display:block;
	border-left:1px solid #888178;
	float:left;
	margin:6px 0;
	padding:0 11px;
	height:20px;
	line-height:20px;
}
#gk-subnav li:first-child {
	padding:0 11px 0 16px;
	border-left:none!important;
}
#gk-subnav>.sublevel>ul>li>a {
	height:20px;
	line-height:20px;
}
#gk-subnav ul li a span {
	margin:0;
	color:#fff;
}
#gk-subnav ul li:first-child a span {
	border-left:none;
	padding-left:0
}
#gk-subnav li.first-item {
	border-left:0;
	background:none!important
}
#gk-subnav ul li a {
	color:#ffffff;
	display:block;
	padding:0 7px;
	text-decoration:none;
	font-weight:normal
}
#gk-subnav ul li.active>a, #gk-subnav ul li:hover>a, #gk-subnav ul li a:active, #gk-subnav ul li a:focus {
	color:#fff;
	background:#4a75ba;
}
#gk-subnav ul li ul {
	border-top:1px dotted #7087ad;
	display:block;
	background:#8ea6cc;
	height:auto;
	left:-999em;
	padding:0 8px;
	position:absolute;
	width:160px;
	-moz-box-shadow:1px 1px 1px #666;
	-webkit-box-shadow:1px 1px 1px #666;
}
#gk-subnav ul>li.hover>ul {
	display:block;
	height:auto;
	left:auto;
	position:absolute;
}
#gk-subnav ul ul ul {
	display:none!important;
	left:-999em!important;
}
#gk-subnav ul ul li:hover>ul {
	margin-left:160px!important;
	margin-top:-30px!important;
	left:0!important;
	display:block!important;
}
#gk-subnav ul ul li a, #gk-subnav ul ul li a span {
	display:block;
	min-height:30px;
	line-height:30px;
	color:#fff;
}
#gk-subnav ul ul li a {
	padding-left:12px;
}
#gk-subnav ul ul li a:hover, #gk-subnav ul ul li a:hover span {
	color:#fff;
}
#gk-subnav ul ul li:first-child, #gk-subnav ul ul li {
	margin:0;
	padding:0;
	border:none;
	;
	min-height:30px;
	line-height:30px;
	background:transparent url('../../templates/o2c-template/images/menu_bullet.png') no-repeat 2px 12px!important;
	clear:both;
	width:160px;
}
#gk-subnav ul ul li:hover {
	background:transparent url('../../templates/o2c-template/images/menu_bullet_hover.png') no-repeat 2px 12px!important;
}
#gk-subnav ul ul li:hover>a {
	background:transparent;
}
#gk-subnav ul ul li:first-child {
	border-top:none;
}
.gk_popup {
	position:absolute;
	top:40px;
	margin:24px 0 0 0;
	z-index:10000;
	display:none;
	-moz-box-shadow:1px 1px 1px #666;
	-webkit-box-shadow:1px 1px 1px #666;
	overflow:hidden;
}
.gk_popup_wrap {
	padding:18px;
	overflow:hidden;
	background:#DEDEDE;
}
.gk_hide {
	height:28px;
	display:none;
	margin:-3px 0 0 0;
	z-index:100;
	float:right;
	overflow:hidden;
}
.gk_popup-hide {
	height:24px;
	padding:8px 0 0 5px;
	width:135px!important;
	line-height:28px;
	white-space:nowrap
}
.gk_popup_wrap .popup_col {
	float:left;
	width:auto;
	margin:0 0 0 20px
}
.gk_popup_wrap .popup_col:first-child {
	float:left;
	margin:0
}
.gk_popup_wrap td {
	white-space:nowrap
}
.gk_popup button {
	display:block;
	background:#7087ad;
	border:1px solid #666666!important;
	border-top:none!important;
	border-left:none!important;
	color:#fff;
	font-weight:bold;
	height:28px;
	line-height:28px;
	font-size:13px;
	font-family:Arial;
}
#popup_register .inputbox {
	width:200px!important;
}
#popup_register p.information_td {
	font-style:italic;
}
#popup_tools a {
	margin:0 6px 0 0;
}
.nsp {
	position:relative;
	width:auto;
}
.nsp_main {
	overflow:hidden;
}
.nsp_bottom_interface, .nsp_top_interface {
	overflow:hidden;
	width:auto;
	margin:0;
}
.nsp_bottom_interface {
	margin:0;
	padding-top:6px;
}
.nsp_top_interface div {
	float:right;
}
.nopad .nsp_top_interface div {
	float:left;
}
.nsp_bottom_interface div {
	float:right;
}
.nsp_bottom_interface .pagination li, .nsp_top_interface .pagination li, .nsp_bottom_interface .pagination li.active, .nsp_top_interface .pagination li.active {
	display:block;
	float:left;
	border:none !important;
	width:8px;
	height:8px;
	margin:6px 0 0 5px;
	padding:0 !important;
	background:transparent url('../../templates/o2c-template/images/gk_nsp_interface.png') no-repeat 55% -92px;
	text-indent:-999em!important;
	cursor:pointer;
}
.nsp_bottom_interface .pagination li:hover, .nsp_bottom_interface .pagination li.active, .nsp_top_interface .pagination li:hover, .nsp_top_interface .pagination li.active {
	background-position:55% -100px;
	cursor:pointer;
}
.nsp_top_interface .pagination, .nsp_bottom_interface .pagination {
	border:none !important;
	float:left;
	width:auto;
	padding:2px 8px 0 0 !important;
	list-style-type:none;
	margin:0;
}
.nsp_bottom_interface .counter, .nsp_top_interface .counter {
	padding:4px 8px!important;
	font-size:10px;
	font-weight:normal !important;
	height:10px;
	line-height:10px;
	background:transparent;
	color:#fff !important;
	cursor:pointer;
	float:left;
	margin:2px 0 0 16px !important;
}
.nsp_bottom_interface .counter span, .nsp_top_interface .counter span {
	color:#fff !important;
}
.nsp_bottom_interface .prev, .nsp_top_interface .prev, .nsp_bottom_interface .next, .nsp_top_interface .next {
	display:block;
	float:left;
	border:none !important;
	height:23px;
	width:23px;
	margin:0;
	background:transparent url('../../templates/o2c-template/images/gk_nsp_interface.png') no-repeat 0 -46px;
	cursor:pointer;
	text-indent:-999em;
	padding:0 !important;
}
.nsp_bottom_interface .prev:hover, .nsp_top_interface .prev:hover {
	display:block;
	float:left;
	border:none !important;
	height:23px;
	width:23px;
	margin:0;
	background:transparent url('../../templates/o2c-template/images/gk_nsp_interface.png') no-repeat 0 -69px;
	cursor:pointer;
	text-indent:-999em;
	padding:0 !important;
}
.nsp_bottom_interface .next, .nsp_top_interface .next {
	display:block;
	float:left;
	border:none !important;
	height:23px;
	width:23px;
	margin:0;
	background:transparent url('../../templates/o2c-template/images/gk_nsp_interface.png') no-repeat 0 0px;
	cursor:pointer;
	text-indent:-999em;
	padding:0 !important;
}
.nsp_bottom_interface .next:hover, .nsp_top_interface .next:hover {
	display:block;
	float:left;
	border:none !important;
	height:23px;
	width:23px;
	margin:0;
	background:transparent url('../../templates/o2c-template/images/gk_nsp_interface.png') no-repeat 0 -23px;
	cursor:pointer;
	text-indent:-999em;
	padding:0 !important;
}
.nsp_arts {
	overflow:hidden;
}
.nsp_art div {
	overflow:hidden;
	padding:0 10px;
}
.nsp_art h4.nsp_header {
	font-size:18px;
	color:#fff;
	line-height:16px;
	margin-bottom:12px;
}
.nsp_art p.nsp_text {
	float:none;
	margin-top:0!important;
	font-size:12px;
	line-height:1.7;
}
.nsp_art p.nsp_info {
	font-size:85%;
	margin:6px 0;
}
.nsp_art .tleft {
	text-align:left;
}
.nsp_art .tright {
	text-align:right;
}
.nsp_art .tcenter {
	text-align:center;
}
.nsp_art .tjustify {
	text-align:justify;
}
.nsp_art .fleft {
	float:left;
}
.nsp_art .fright {
	float:right;
}
.nsp_art .fnone {
	clear:both;
	width:100%;
	float:none;
}
.nsp_art {
	float:left;
}
.readon_class.left, .readon_class.right, .readon_class.center {
	clear:both;
}
.readon_class.left {
	float:left;
}
.readon_class.right {
	float:right;
}
.readon_class.center {
	display:inline;
	float:none;
}
.nsp_links ul li {
	border-top:1px solid #252525
}
.nsp_links ul li h4 {
	font-size:90%;
	line-height:160%;
	font-weight:normal
}
.nsp_links ul li p {
	margin:0;
	font-size:11px;
	line-height:130%
}
.nsp_links ul li {
	margin:0;
	padding:6px 0 9px;
	height:auto;
	border-bottom:none;
}
.nsp_links ul {
	padding:0;
	margin:0;
	list-style-type:none;
	clear:none!important;
}
.nsp_arts.left {
	float:right;
}
.nsp_links_wrap.left {
	float:left;
}
.nsp_arts.right {
	float:left;
}
.nsp_links_wrap.right {
	float:right;
}
.nsp_main .unvisible {
	height:1px;
	left:-10000px;
	overflow:hidden;
	position:absolute;
	top:auto;
	width:1px;
}
.nsp_avatar {
	margin-bottom:-5px;
}
.nsp_art .readon {
	margin-top:14px;
}
.header > div {
	padding:0 0 20px 0!important;
	margin:0 -10px;
}
.header .nsp_art > div {
	background:#000;
	margin:0 10px 20px 10px;
	-webkit-transition:background-color 0.4s ease-in;
	-moz-transition:background-color 0.4s ease-in;
	-o-transition:background-color 0.4s ease-in;
	transition:background-color 0.4s ease-in;
}
.header .nsp_art:hover > div {
	background:#fff;
}
.header .nsp_art:hover .nsp_header, .header .nsp_art:hover .nsp_header a {
	color:#000;
}
.header .nsp_art:hover .nsp_header a:hover {
	color:#6b9ccf;
}
.header .nsp_art .nsp_header {
	font-size:22px;
	line-height:16px;
	margin-bottom:0;
}
.header .nsp_art .nsp_info {
	margin:0;
	font-size:11px;
	color:#3f3f3f;
}
.header .nsp_art .nsp_image {
	margin-bottom:24px!important;
	-webkit-transition:opacity 0.4s;
	-moz-transition:opacity 0.4s;
	-o-transition:opacity 0.4s;
	transition:opacity 0.4s;
}
.header .nsp_art:hover .nsp_image {
	opacity:1.0;
	filter:alpha(opacity=100);
}
.header .nsp_top_interface {
	position:absolute;
	bottom:0;
	text-align:center;
	width:100%;
}
.header .nsp_top_interface > div {
	position:static;
	display:inline-block;
}
.header .nsp_bottom_interface .pagination li, .header .nsp_top_interface .pagination li, .header .nsp_bottom_interface .pagination li.active, .header .nsp_top_interface .pagination li.active {
	background-image:url('../../templates/o2c-template/images/gk_nsp_interface_header.png');
}
.header .nsp_bottom_interface .prev, .header .nsp_top_interface .prev, .header .nsp_bottom_interface .next, .header .nsp_top_interface .next {
	background-image:url('../../templates/o2c-template/images/gk_nsp_interface_header.png');
}
.header .nsp_top_interface .pagination, .header .nsp_bottom_interface .pagination {
	margin:0 0 0 20px;
}
.gk_is_wrapper-template {
	position:relative;
	background:transparent url('../../templates/o2c-template/images/header_red_bg.jpg') no-repeat 0 0;
}
.gk_is_wrapper-template .gk_is_image {
	display:block;
	position:relative;
	overflow:hidden;
}
.gk_is_wrapper-template .gk_is_preloader {
	width:100%;
	height:100%;
	position:absolute;
	z-index:60;
	top:0;
	left:0;
	background:#ec3200 url('../../templates/o2c-template/images/header_red_bg.jpg') no-repeat 0 0;
}
.gk_is_wrapper-template .gk_is_preloader span {
	text-indent:-999em;
	display:block;
	width:100%;
	height:100%;
	background:transparent url('../../templates/o2c-template/images/loader.gif') no-repeat center center;
}
.gk_is_wrapper-template .gk_is_slide {
	position:absolute;
	left:0;
	top:0
}
.gk_is_prev, .gk_is_next {
	width:23px;
	height:46px;
	background:transparent url('../../templates/o2c-template/images/arrows.png') no-repeat 0 0;
	position:absolute;
	cursor:pointer;
	margin:0;
	right:-35px;
}
.gk_is_prev div, .gk_is_next div {
	text-indent:-999em;
	width:23px;
	height:46px;
	background:transparent url('../../templates/o2c-template/images/arrows.png') no-repeat 0 0;
	display:none;
}
.gk_is_prev div {
	background-position:0 -46px!important;
}
.gk_is_next div {
	background-position:-23px -46px!important;
}
.gk_is_prev {
	right:inherit;
	left:-35px;
}
.gk_is_next {
	background-position:-23px 0!important;
}
.gk_is_wrapper-template .gk_is_art {
	float:left;
}
.gk_is_wrapper-template .gk_is_art div {
	padding:50px 40px 50px 50px;
}
.gk_is_wrapper-template .gk_is_list.right div {
	padding:50px 35px 50px 0;
}
.gk_is_wrapper-template .gk_is_list.left {
	float:left;
}
.gk_is_wrapper-template .gk_is_list.left div {
	padding:50px 0 50px 50px;
}
.gk_is_wrapper-template .gk_is_list.right {
	float:right;
}
.gk_is_text_item h4, .gk_is_art h4 {
	font-size:25px;
	line-height:30px;
	font-weight:bold;
	text-transform:uppercase;
	letter-spacing:-1px;
	color:#fff;
}
.gk_is_text_item h4 a, .gk_is_art h4 a {
	color:#fff;
}
.gk_is_text_item h4 a:hover, .gk_is_art h4 a:hover {
	color:#ec3200;
	text-decoration:none;
}
.gk_is_art p {
	font-family:Arial, Helvetica, sans-serif;
	font-size:17px;
	font-style:italic;
	color:#fff;
	margin:20px 0
}
.gk_is_art a.readon {
	height:25px;
	line-height:25px;
	padding-left:6px;
	padding-right:6px;
	font-weight:normal;
	background:#fff;
	color:#ec3200;
	display:block;
	float:left;
	width:auto;
}
.gk_is_art a.readon:hover {
	background:#b02500;
	color:#fff;
	cursor:pointer;
}
.gk_is_art .cufon {
	padding-top:10px!important;
}
.gk_is_list h3 {
	padding:10px 0 0 0;
}
.gk_is_list h3 .title_small, .gk_is_list h3 .title_big {
	color:#fff;
	font-size:11px;
	text-transform:uppercase;
	clear:both;
	display:block;
}
.gk_is_list h3 .title_small {
	line-height:11px;
}
.gk_is_list h3 .title_big {
	font-size:16px;
	line-height:18px;
}
.gk_is_list li {
	border-top:1px solid #e75630!important;
	color:#f3beb0;
	background:none;
	padding-left:0!important;
	height:auto!important;
	line-height:24px;
	background:none!important;
	cursor:pointer;
}
.gk_is_list li.active {
	color:#fff;
}
.gk_is_list li:first-child {
	border-top:none;
}
.clearfix-tabs {
	clear:both
}
.gk_tab_item_space {
	padding:10px 0
}
div.gk_tab-style1 {
	position:relative
}
div.gk_tab_wrap-style1 {
	margin:0 auto
}
div.gk_tab-style1 div.gk_ul_wrap {
	height:45px
}
.gk_tab_news_image {
	margin:5px
}
div.gk_tab_container0-style1 {
	clear:both
}
div.gk_tab_container1-style1 {
	overflow:hidden
}
div.gk_tab_item-style1 {
	float:left;
	overflow:hidden;
	padding:0
}
#gk-container ul.gk_tab_ul-style1 {
	border-bottom:none;
	height:8px;
	line-height:8px;
	padding:0;
	background:transparent;
	margin:0
}
#gk-container ul.gk_tab_ul-style1 li {
	border:none;
	float:left;
	width:auto;
	cursor:pointer;
	background:#ec3200;
	height:8px;
	min-height:8px;
	line-height:8px;
	padding:5px 6px;
	font-size:11px;
	font-weight:bold;
	text-transform:uppercase;
	margin:0 5px 10px;
}
#gk-container ul.gk_tab_ul-style1 li span {
	display:block;
	color:#fff;
}
#gk-container ul.gk_tab_ul-style1 li:first-child {
	margin-left:0;
}
#gk-container ul.gk_tab_ul-style1 li.active, #gk-container ul.gk_tab_ul-style1 li:hover {
	background:#b02500;
	color:#fff!important
}
#gk-container h4.gk_tab_news_header {
	margin:6px 0;
	font-size:150%;
	font-weight:bold
}
#gk-container h4.gk_tab_news_header a {
	color:#6C6459
}
#gk-container div.gk_tab_container0-style1 {
	background:transparent;
}
#gk-container .blue ul.gk_tab_ul-style1 li {
	background:#57a8f0;
}
#gk-container .blue ul.gk_tab_ul-style1 li.active, #gk-container .blue ul.gk_tab_ul-style1 li:hover {
	background:#115bb2;
	color:#fff!important
}
#gk-container .blue h4.gk_tab_news_header a:hover {
	color:#115bb2;
}
#gk-container .blue div.gk_tab_container0-style1 a.readon:hover, #gk-container .blue div.gk_tab_container0-style1 a.readon:active, #gk-container .blue div.gk_tab_container0-style1 a.readon:focus {
	background:#57a8f0;
}
#gk-container .red ul.gk_tab_ul-style1 li {
	background:#ec3200;
}
#gk-container .red ul.gk_tab_ul-style1 li.active, #gk-container .red ul.gk_tab_ul-style1 li:hover {
	background:#b02500;
	color:#fff!important
}
#gk-container .red h4.gk_tab_news_header a:hover {
	color:#ec3200;
}
#gk-container .red div.gk_tab_container0-style1 a.readon:hover, #gk-container .red div.gk_tab_container0-style1 a.readon:active, #gk-container .red div.gk_tab_container0-style1 a.readon:focus {
	background:#ec3200;
}
#gk-container .green ul.gk_tab_ul-style1 li {
	background:#aac900;
}
#gk-container .green ul.gk_tab_ul-style1 li.active, #gk-container .green ul.gk_tab_ul-style1 li:hover {
	background:#718500;
	color:#fff!important
}
#gk-container .green h4.gk_tab_news_header a:hover {
	color:#718500;
}
#gk-container .green div.gk_tab_container0-style1 a.readon:hover, #gk-container .green div.gk_tab_container0-style1 a.readon:active, #gk-container .green div.gk_tab_container0-style1 a.readon:focus {
	background:#aac900;
}
#gk-container .neutral ul.gk_tab_ul-style1 li {
	background:#a7a29c;
}
#gk-container .neutral ul.gk_tab_ul-style1 li.active, #gk-container .neutral ul.gk_tab_ul-style1 li:hover {
	background:#736a61;
	color:#fff!important
}
#gk-container .neutral h4.gk_tab_news_header a:hover {
	color:#736a61;
}
#gk-container .neutral div.gk_tab_container0-style1 a.readon:hover, #gk-container .neutral div.gk_tab_container0-style1 a.readon:active, #gk-container .neutral div.gk_tab_container0-style1 a.readon:focus {
	background:#a7a29c;
}
/* FILE: /templates/o2c-template/css/typo.css */
  pre, .gk_code1, .gk_code2 {
	margin:10px 0 15px!important;
	padding:10px 15px!important;
	font-size:0.92em!important;
	font-family:'Curier New', monospace!important
}
.gk_code2 {
	padding-left:20px!important
}
.gk_code3 {
	padding:0 0 5px 20px!important
}
.gk_code3 h4 {
	width:35px;
	position:relative;
	top:-10px;
	margin:0 0 -10px 11px!important;
	padding:0 5px;
	font-size:1.17em;
	font-weight:normal
}
p.gk_info1, p.gk_info2, p.gk_info3, p.gk_info4 {
	background:transparent url('../../templates/o2c-template/images/icons/info.gif') no-repeat left center
}
p.gk_warning1, p.gk_warning2, p.gk_warning3, p.gk_warning4 {
	background:transparent url('../../templates/o2c-template/images/icons/warning.gif') no-repeat left center
}
p.gk_tips1, p.gk_tips2, p.gk_tips3, p.gk_tips4 {
	background:transparent url('../../templates/o2c-template/images/icons/tips.gif') no-repeat left center
}
p.gk_info1, p.gk_info3, p.gk_warning1, p.gk_warning3, p.gk_tips1, p.gk_tips3 {
	padding-left:30px
}
p.gk_info2, p.gk_info4 {
	padding:3px 3px 3px 30px;
	border-top:#39f solid 1px;
	border-bottom:#39f solid 1px;
	background-position:3px center
}
p.gk_info3, p.gk_info4 {
	background-color:#f0f6fe;
	background-position:7px center;
	min-height:14px;
	padding:12px 0 14px 30px
}
p.gk_warning2, p.gk_warning4 {
	border-top:#f71212 solid 1px;
	border-bottom:#f71212 solid 1px;
	padding:3px 3px 3px 30px;
	background-position:3px center
}
p.gk_warning3, p.gk_warning4 {
	background-color:#ffeeea;
	background-position:7px center;
	min-height:14px;
	width:auto;
	padding:12px 0 14px 30px
}
p.gk_warning4 {
	border-top:#f71212 solid 1px;
	border-bottom:#f71212 solid 1px
}
p.gk_tips2, p.gk_tips4 {
	border-top:#fde647 solid 1px;
	border-bottom:#fde647 solid 1px;
	padding:3px 3px 3px 30px;
	background-position:3px center
}
p.gk_tips3, p.gk_tips4 {
	display:block;
	background-color:#fdffca;
	background-position:7px center;
	min-height:14px;
	padding:12px 0 14px 30px
}
p.gk_tips4 {
	border-top:#fde647 solid 1px;
	border-bottom:#fde647 solid 1px
}
span.gk_Dropcap1, span.gk_Dropcap2, span.gk_Dropcap3 {
	font-size:5.0em;
	display:block;
	float:left;
	line-height:1.0em;
	font-family:'Times New Roman', serif
}
span.gk_Dropcap1 {
	height:61px;
	margin:-4px 5px -3px 0
}
p.gk_Dropcap2 {
	padding:0 0 0 50px
}
span.gk_Dropcap2 {
	height:61px;
	margin:-4px 0 0 -50px
}
p.gk_Dropcap3 {
	margin-top:32px
}
span.gk_Dropcap3 {
	height:61px;
	margin:-32px 5px 0 0
}
blockquote {
	font-style:italic;
	margin:20px 0;
	float:left
}
blockquote div.gk_blockquote1 div {
	padding:0 17px
}
blockquote div.gk_blockquote2 div {
	padding:0 17px
}
blockquote div.gk_blockquote3 {
	padding-bottom:5px
}
blockquote div.gk_blockquote3 div {
	padding:5px 27px 0 27px
}
blockquote div.gk_blockquote4 {
	padding-top:2px
}
blockquote div.gk_blockquote4 div {
	padding:5px 27px 0 27px
}
.gk_blockTextLeft, .gk_blockTextRight, .gk_blockTextCenter {
	display:block;
	width:30%;
	padding:15px;
	font-style:italic
}
.gk_blockTextLeft {
	float:left;
	text-align:left
}
.gk_blockTextRight {
	float:right;
	text-align:right
}
.gk_blockTextCenter {
	margin:0 auto;
	text-align:center
}
div.gk_legend1 h4, div.gk_legend2 h4, div.gk_legend3 h4, div.gk_legend4 h4, div.gk_legend5 h4, div.gk_legend6 h4 {
	width:auto;
	float:left;
	background:#fff;
	position:relative;
	top:-9px;
	left:11px;
	margin:0 0 -9px 0!important;
	padding:0 3px;
	font-size:1.17em;
	font-weight:normal
}
div.gk_legend3 h4:first-child, div.gk_legend5 h4:first-child {
	background:#e7e7e7
}
div.gk_legend4 h4:first-child, div.gk_legend6 h4:first-child {
	border:solid 1px #666
}
div.gk_legend1, div.gk_legend5, div.gk_legend6 {
	border:solid 1px #666;
	margin:25px 0
}
div.gk_legend2, div.gk_legend3, div.gk_legend4 {
	border-top:solid 1px #666;
	border-bottom:solid 1px #666;
	margin:25px 0
}
div.gk_legend1 p, div.gk_legend2 p, div.gk_legend3 p, div.gk_legend4 p, div.gk_legend5 p, div.gk_legend6 p {
	margin:7px;
	clear:both
}
.gk_audio, .gk_creditcard, .gk_feed, .gk_help, .gk_webcam, .gk_images, .gk_lock, .gk_printer, .gk_report, .gk_script, .gk_time, .gk_user, .gk_world, .gk_camera, .gk_brick, .gk_box, .gk_cart, .gk_cd, .gk_chart_bar, .gk_chart_line, .gk_chart_pie, .gk_clock, .gk_cog, .gk_coins, .gk_compress, .gk_computer, .gk_cross, .gk_disk, .gk_error, .gk_email, .gk_accept, .gk_add, .gk_calendar, .gk_group, .gk_exclamation, .gk_film, .gk_folder, .gk_heart, .gk_house, .gk_image, .gk_information, .gk_magnifier, .gk_money, .gk_new, .gk_note, .gk_page, .gk_page_white, .gk_plugin {
	padding:0 0 2px 30px!important
}
.gk_audio {
	background:transparent url('../../templates/o2c-template/images/icons/audio.gif') no-repeat left top
}
.gk_creditcard {
	background:transparent url('../../templates/o2c-template/images/icons/credit.gif') no-repeat left top
}
.gk_feed {
	background:transparent url('../../templates/o2c-template/images/icons/feed.gif') no-repeat left top
}
.gk_help {
	background:transparent url('../../templates/o2c-template/images/icons/help.gif') no-repeat left top
}
.gk_webcam {
	background:transparent url('../../templates/o2c-template/images/icons/webcam.gif') no-repeat left top
}
.gk_images {
	background:transparent url('../../templates/o2c-template/images/icons/images.png') no-repeat left top
}
.gk_lock {
	background:transparent url('../../templates/o2c-template/images/icons/lock.png') no-repeat left top
}
.gk_printer {
	background:transparent url('../../templates/o2c-template/images/icons/printer.png') no-repeat left top
}
.gk_report {
	background:transparent url('../../templates/o2c-template/images/icons/report.png') no-repeat left top
}
.gk_script {
	background:transparent url('../../templates/o2c-template/images/icons/script.png') no-repeat left top
}
.gk_time {
	background:transparent url('../../templates/o2c-template/images/icons/time.png') no-repeat left top
}
.gk_user {
	background:transparent url('../../templates/o2c-template/images/icons/user.png') no-repeat left top
}
.gk_world {
	background:transparent url('../../templates/o2c-template/images/icons/world.png') no-repeat left top
}
.gk_cart {
	background:transparent url('../../templates/o2c-template/images/icons/cart.png') no-repeat left top
}
.gk_cd {
	background:transparent url('../../templates/o2c-template/images/icons/cd.png') no-repeat left top
}
.gk_chart_bar {
	background:transparent url('../../templates/o2c-template/images/icons/chart_bar.png') no-repeat left top
}
.gk_chart_line {
	background:transparent url('../../templates/o2c-template/images/icons/chart_line.png') no-repeat left top
}
.gk_chart_pie {
	background:transparent url('../../templates/o2c-template/images/icons/chart_pie.png') no-repeat left top
}
.gk_clock {
	background:transparent url('../../templates/o2c-template/images/icons/clock.png') no-repeat left top
}
.gk_cog {
	background:transparent url('../../templates/o2c-template/images/icons/cog.png') no-repeat left top
}
.gk_coins {
	background:transparent url('../../templates/o2c-template/images/icons/coins.png') no-repeat left top
}
.gk_compress {
	background:transparent url('../../templates/o2c-template/images/icons/compress.png') no-repeat left top
}
.gk_computer {
	background:transparent url('../../templates/o2c-template/images/icons/computer.png') no-repeat left top
}
.gk_cross {
	background:transparent url('../../templates/o2c-template/images/icons/cross.png') no-repeat left top
}
.gk_disk {
	background:transparent url('../../templates/o2c-template/images/icons/disk.png') no-repeat left top
}
.gk_error {
	background:transparent url('../../templates/o2c-template/images/icons/error.png') no-repeat left top
}
.gk_email {
	background:transparent url('../../templates/o2c-template/images/icons/email.gif') no-repeat left top
}
.gk_exclamation {
	background:transparent url('../../templates/o2c-template/images/icons/exclamation.png') no-repeat left top
}
.gk_film {
	background:transparent url('../../templates/o2c-template/images/icons/film.png') no-repeat left top
}
.gk_folder {
	background:transparent url('../../templates/o2c-template/images/icons/folder.png') no-repeat left top
}
.gk_group {
	background:transparent url('../../templates/o2c-template/images/icons/group.png') no-repeat left top
}
.gk_heart {
	background:transparent url('../../templates/o2c-template/images/icons/heart.png') no-repeat left top
}
.gk_house {
	background:transparent url('../../templates/o2c-template/images/icons/house.png') no-repeat left top
}
.gk_image {
	background:transparent url('../../templates/o2c-template/images/icons/image.png') no-repeat left top
}
.gk_information {
	background:transparent url('../../templates/o2c-template/images/icons/information.png') no-repeat left top
}
.gk_magnifier {
	background:transparent url('../../templates/o2c-template/images/icons/magnifier.png') no-repeat left top
}
.gk_money {
	background:transparent url('../../templates/o2c-template/images/icons/money.png') no-repeat left top
}
.gk_new {
	background:transparent url('../../templates/o2c-template/images/icons/new.png') no-repeat left top
}
.gk_note {
	background:transparent url('../../templates/o2c-template/images/icons/note.png') no-repeat left top
}
.gk_page {
	background:transparent url('../../templates/o2c-template/images/icons/page.png') no-repeat left top
}
.gk_page_white {
	background:transparent url('../../templates/o2c-template/images/icons/page_white.png') no-repeat left top
}
.gk_plugin {
	background:transparent url('../../templates/o2c-template/images/icons/plugin.png') no-repeat left top
}
.gk_accept {
	background:transparent url('../../templates/o2c-template/images/icons/accept.png') no-repeat left top
}
.gk_add {
	background:transparent url('../../templates/o2c-template/images/icons/add.png') no-repeat left top
}
.gk_camera {
	background:transparent url('../../templates/o2c-template/images/icons/camera.png') no-repeat left top
}
.gk_brick {
	background:transparent url('../../templates/o2c-template/images/icons/brick.png') no-repeat left top
}
.gk_box {
	background:transparent url('../../templates/o2c-template/images/icons/box.png') no-repeat left top
}
.gk_calendar {
	background:transparent url('../../templates/o2c-template/images/icons/calendar.png') no-repeat left top
}
.gk_highlight-1, .gk_highlight-2, .gk_highlight-3, .gk_highlight-4 {
	padding:1px 5px
}
span.gk_clear, span.gk_clear-1, span.gk_clear-2, span.gk_color, span.gk_color-1, span.gk_color-2, span.gk_color-3, span.gk_color-4, span.gk_color-5, span.gk_color-6, span.gk_color-7 {
	display:block;
	padding:5px 10px;
	margin-bottom:10px
}
ol {
	padding-left:28px;
	list-style-position:inside
}
ol.gk_dec {
	list-style-type:decimal;
	list-style-position:inside
}
ol.gk_roman {
	list-style-type:upper-roman;
	list-style-position:inside
}
ol.gk_alpha {
	list-style-type:lower-alpha;
	list-style-position:inside
}
ol.gk_decimalLeadingZero {
	list-style-type:decimal-leading-zero;
	list-style-position:inside
}
ul.gk_bullet1, ul.gk_bullet2, ul.gk_bullet3, ul.gk_bullet4, ul.gk_circle1, ul.gk_circle2, ul.gk_square1, ul.gk_square2, ul.gk_square3 {
	padding-left:3px
}
ul li {
	list-style-position:outside
}
ul.gk_bullet1 li, ul.gk_bullet2 li, ul.gk_bullet3 li, ul.gk_bullet4 li, ul.gk_circle1 li, ul.gk_circle2 li, ul.gk_square1 li, ul.gk_square2 li, ul.gk_square3 li {
	margin:10px 0!important;
	line-height:1.23em!important;
	list-style-position:inside;
	overflow:inherit;
}
ul.gk_circle2 {
	list-style-type:circle
}
ul.gk_square1 {
	list-style-type:square
}
div.gk_number1 span {
	padding:4px
}
div.gk_number2 span {
	padding:4px;
	color:#fff
}
dl.gk_def1 dt, dl.gk_def2 dt, dl.gk_def3 dt {
	margin:10px 0 5px 0
}
dl.gk_def1 dd, dl.gk_def2 dd, dl.gk_def3 dd {
	padding-left:25px
}
dl.gk_def2 dt {
	text-decoration:underline
}
dl.gk_def3 dt {
	font-weight:bold
}
acronym, abbr {
	border-bottom-width:1px;
	border-bottom-style:dotted
}
acronym:hover, abbr:hover {
	border-bottom-style:solid;
	cursor:pointer
}
pre, .gk_code1, .gk_code2 {
	background:#f7f7f7
}
pre, .gk_code1 {
	border-left:5px solid #ec3200!important
}
.gk_code2 {
	border-top:5px solid #ec3200;
	border-bottom:5px solid #ec3200
}
.gk_code3 {
	border-top:1px solid #ec3200;
	border-bottom:1px solid #ec3200
}
.gk_code3 h4 {
	background:#fff
}
p.gk_info1, p.gk_info2, p.gk_info3, p.gk_info4 {
	background:transparent url('../../templates/o2c-template/images/icons/info.gif') no-repeat left center
}
p.gk_warning1, p.gk_warning2, p.gk_warning3, p.gk_warning4 {
	background:transparent url('../../templates/o2c-template/images/icons/warning.gif') no-repeat left center
}
p.gk_tips1, p.gk_tips2, p.gk_tips3, p.gk_tips4 {
	background:transparent url('../../templates/o2c-template/images/icons/tips.gif') no-repeat left center
}
p.gk_info2, p.gk_info4 {
	border-top:#d1e8f5 solid 1px;
	border-bottom:#d1e8f5 solid 1px;
	background-position:3px center
}
p.gk_info3, p.gk_info4 {
	background-color:#f4fbff;
	background-position:7px center
}
p.gk_warning2, p.gk_warning4 {
	border-top:#f5d1d1 solid 1px;
	border-bottom:#f5d1d1 solid 1px;
	background-position:3px center
}
p.gk_warning3, p.gk_warning4 {
	background-color:#f6eeee;
	background-position:7px center
}
p.gk_tips2, p.gk_tips4 {
	border-top:#f5f4aa solid 1px;
	border-bottom:#f5f4aa solid 1px;
	background-position:3px center
}
p.gk_tips3, p.gk_tips4 {
	background-color:#fffff3;
	background-position:7px center
}
blockquote div.gk_blockquote1 {
	background:transparent url('../../templates/o2c-template/images/style1/typography/open1.png') no-repeat left bottom
}
blockquote div.gk_blockquote1 div {
	background:transparent url('../../templates/o2c-template/images/style1/typography/close1.png') no-repeat right top
}
blockquote div.gk_blockquote2 {
	background:transparent url('../../templates/o2c-template/images/style1/typography/open1.png') no-repeat left top
}
blockquote div.gk_blockquote2 div {
	background:transparent url('../../templates/o2c-template/images/style1/typography/close1.png') no-repeat right top
}
blockquote div.gk_blockquote3 {
	background:transparent url('../../templates/o2c-template/images/style1/typography/open2.png') no-repeat left bottom
}
blockquote div.gk_blockquote3 div {
	background:transparent url('../../templates/o2c-template/images/style1/typography/close2.png') no-repeat right top
}
blockquote div.gk_blockquote4 {
	background:transparent url('../../templates/o2c-template/images/style1/typography/open2.png') no-repeat left top
}
blockquote div.gk_blockquote4 div {
	background:transparent url('../../templates/o2c-template/images/style1/typography/close2.png') no-repeat right top
}
div.gk_legend1 h4, div.gk_legend2 h4, div.gk_legend3 h4, div.gk_legend4 h4, div.gk_legend5 h4, div.gk_legend6 h4 {
	background:#f5f5f5
}
div.gk_legend3 h4:first-child, div.gk_legend5 h4:first-child {
	background:#e7e7e7
}
div.gk_legend4 h4:first-child, div.gk_legend6 h4:first-child {
	border:solid 1px #666
}
div.gk_legend1, div.gk_legend5, div.gk_legend6 {
	border:solid 1px #666
}
div.gk_legend2, div.gk_legend3, div.gk_legend4 {
	border-top:solid 1px #666;
	border-bottom:solid 1px #666
}
.gk_highlight-1 {
	background:#ffffda
}
.gk_highlight-2 {
	background:#ec3200;
	color:#fff
}
.gk_highlight-3 {
	background:#b02500;
	color:#fff
}
.gk_highlight-4 {
	background:#333;
	color:#fff
}
span.gk_clear {
	border-top:1px solid #ec3200;
	border-bottom:1px solid #ec3200;
	color:#ec3200
}
span.gk_clear-1 {
	border-top:1px solid #b02500;
	border-bottom:1px solid #b02500;
	color:#b02500
}
span.gk_clear-2 {
	border-top:1px solid #333;
	border-bottom:1px solid #333;
	color:#333
}
span.gk_color {
	color:#ec3200
}
span.gk_color-1 {
	color:#b02500
}
span.gk_color-2 {
	color:#ec3200;
	border-left:2px solid #ec3200
}
span.gk_color-3 {
	color:#333;
	border-left:2px solid #333
}
span.gk_color-4 {
	color:#ec3200;
	background:#f4fbff
}
span.gk_color-5 {
	color:#fff;
	background:#b02500
}
span.gk_color-6 {
	color:#d48d1c;
	background:#ffe;
	border-top:1px solid #e9e9a1;
	border-bottom:1px solid #e9e9a1
}
span.gk_color-7 {
	background:#333;
	color:#fff
}
ul.gk_circle1 {
	list-style-image:url('../../templates/o2c-template/images/style1/typography/bullet3ul.png')!important
}
ul.gk_circle2 {
	list-style-type:circle
}
ul.gk_bullet1 {
	list-style-image:url('../../templates/o2c-template/images/style1/typography/bullet_ol_1_dark.png')!important
}
ul.gk_bullet2 {
	list-style-image:url('../../templates/o2c-template/images/style1/typography/bullet1ul.png')!important
}
ul.gk_bullet3 {
	list-style-image:url('../../templates/o2c-template/images/style1/typography/bullet2ul.png')!important
}
ul.gk_bullet4 {
	list-style-image:url('../../templates/o2c-template/images/style1/typography/bullet_ol_1_color.png')!important
}
ul.gk_square1 {
	list-style-type:square
}
ul.gk_square2 {
	list-style-image:url('../../templates/o2c-template/images/style1/typography/bullet_squ1_dark.png')!important
}
ul.gk_square3 {
	list-style-image:url('../../templates/o2c-template/images/style1/typography/bullet_squ1_color.png')!important
}
div.gk_number1 span {
	background:transparent url('../../templates/o2c-template/images/style1/typography/bullet_ol_2.png') no-repeat center center;
	color:#fff
}
div.gk_number2 span {
	background:transparent url('../../templates/o2c-template/images/style1/typography/bullet_ol_2_color.png') no-repeat center center;
	color:#fff
}
/* FILE: /templates/o2c-template/css/style3.css */
  a:hover, a:active, a:focus {
	color:#115bb2
}
#gk-mainbody a {
	color:#115bb2
}
#gk-header-block {
	color:#78A9E3;
	background:url('../../templates/o2c-template/images/style3/header_blue_bg.jpg') no-repeat 0 0
}
#gk-header-highlight {
	background:url('../../templates/o2c-template/images/style3/header_blue_bar.jpg') repeat-y 0 0
}
#gk-header-block a.readon {
	background:#115bb2
}
#gk-header-block a.readon:hover {
	background:#57a8f0
}
#gk-header-block a.readon.header_art {
	color:#57a8f0
}
#gk-header-block a.readon.header_art:hover {
	background:#115bb2
}
#gk-header-block li {
	border-top:1px solid #78A9E3
}
#gk-header-block a {
	color:#A5C8F2
}
.moduletable_menu a {
	color:#115bb2
}
.moduletable.color {
	background:transparent url('../../templates/o2c-template/images/style3/header_blue_bg.jpg') no-repeat 0 0;
	border:1px solid #115bb2
}
.moduletable.color ul li {
	border-top:1px solid #5894DB
}
.moduletable.color ul li ul {
	border-left:1px dotted #5894DB
}
.moduletable.color a.readon {
	color:#fff!important;
	background:#57a8f0
}
.moduletable.color a.readon:hover, .moduletable.color a.readon:active, .moduletable.color a.readon:focus {
	background:#115bb2
}
.moduletable.color .button {
	background:#ffffff;
	border:1px solid #57a8f0!important;
	border-top:none!important;
	border-left:none!important;
	font-family:Arial;
}
.moduletable.color .button:hover, .moduletable.color .button:focus {
	background:#f1f1f1!important
}
.nsp_art h4.nsp_header a {
	color:#115bb2
}
div.nsp_links ul li h4, div.nsp_links ul li h4 a {
	color:#115bb2
}
.gk_is_wrapper-template {
	background:transparent url('../../templates/o2c-template/images/style3/header_blue_bg.jpg') no-repeat 0 0
}
.gk_is_wrapper-template .gk_is_preloader {
	background:#57a8f0 url('../../templates/o2c-template/images/style3/header_blue_bg.jpg') no-repeat 0 0
}
.gk_is_text_item h4 a:hover, .gk_is_art h4 a:hover {
	color:#57a8f0
}
.gk_is_art a.readon {
	color:#57a8f0
}
.gk_is_art a.readon:hover {
	background:#115bb2
}
.gk_is_list li {
	border-top:1px solid #78A9E3!important;
	color:#A5C8F2
}
#gk-container ul.gk_tab_ul-style1 li {
	background:#57a8f0
}
#gk-container ul.gk_tab_ul-style1 li.active, #gk-container ul.gk_tab_ul-style1 li:hover {
	background:#115bb2
}
a.readon:hover, a.readon:active, a.readon:focus {
	background:#115bb2
}
.adminform button:hover, #adminForm button:hover, .adminform button:focus, #adminForm button:focus, .button:hover, .button:focus {
	background:#115bb2
}
.tool-title {
	background:#115bb2
}
pre, .gk_code1 {
	border-left:5px solid #57a8f0!important
}
.gk_code2 {
	border-top:5px solid #57a8f0;
	border-bottom:5px solid #57a8f0
}
.gk_code3 {
	border-top:1px solid #57a8f0;
	border-bottom:1px solid #57a8f0
}
blockquote div.gk_blockquote1 {
	background:transparent url('../../templates/o2c-template/images/style3/typography/open1.png') no-repeat left bottom
}
blockquote div.gk_blockquote1 div {
	background:transparent url('../../templates/o2c-template/images/style3/typography/close1.png') no-repeat right top
}
blockquote div.gk_blockquote2 {
	background:transparent url('../../templates/o2c-template/images/style3/typography/open1.png') no-repeat left top
}
blockquote div.gk_blockquote2 div {
	background:transparent url('../../templates/o2c-template/images/style3/typography/close1.png') no-repeat right top
}
blockquote div.gk_blockquote3 {
	background:transparent url('../../templates/o2c-template/images/style3/typography/open2.png') no-repeat left bottom
}
blockquote div.gk_blockquote3 div {
	background:transparent url('../../templates/o2c-template/images/style3/typography/close2.png') no-repeat right top
}
blockquote div.gk_blockquote4 {
	background:transparent url('../../templates/o2c-template/images/style3/typography/open2.png') no-repeat left top
}
blockquote div.gk_blockquote4 div {
	background:transparent url('../../templates/o2c-template/images/style3/typography/close2.png') no-repeat right top
}
.gk_highlight-2 {
	background:#57a8f0;
	color:#fff
}
.gk_highlight-3 {
	background:#115bb2;
	color:#fff
}
span.gk_clear {
	border-top:1px solid #57a8f0;
	border-bottom:1px solid #57a8f0;
	color:#57a8f0
}
span.gk_clear-1 {
	border-top:1px solid #115bb2;
	border-bottom:1px solid #115bb2;
	color:#115bb2
}
span.gk_color {
	color:#57a8f0
}
span.gk_color-1 {
	color:#115bb2
}
span.gk_color-2 {
	color:#57a8f0;
	border-left:2px solid #57a8f0
}
span.gk_color-4 {
	color:#57a8f0;
	background:#f4fbff
}
span.gk_color-5 {
	color:#fff;
	background:#115bb2
}
ul.gk_circle1 {
	list-style-image:url('../../templates/o2c-template/images/style3/typography/bullet3ul.png')!important
}
ul.gk_circle2 {
	list-style-type:circle
}
ul.gk_bullet1 {
	list-style-image:url('../../templates/o2c-template/images/style3/typography/bullet_ol_1_dark.png')!important
}
ul.gk_bullet2 {
	list-style-image:url('../../templates/o2c-template/images/style3/typography/bullet1ul.png')!important
}
ul.gk_bullet3 {
	list-style-image:url('../../templates/o2c-template/images/style3/typography/bullet2ul.png')!important
}
ul.gk_bullet4 {
	list-style-image:url('../../templates/o2c-template/images/style3/typography/bullet_ol_1_color.png')!important
}
ul.gk_square1 {
	list-style-type:square
}
ul.gk_square2 {
	list-style-image:url('../../templates/o2c-template/images/style3/typography/bullet_squ1_dark.png')!important
}
ul.gk_square3 {
	list-style-image:url('../../templates/o2c-template/images/style3/typography/bullet_squ1_color.png')!important
}
div.gk_number1 span {
	background:transparent url('../../templates/o2c-template/images/style3/typography/bullet_ol_2.png') no-repeat center center;
	color:#fff
}
div.gk_number2 span {
	background:transparent url('../../templates/o2c-template/images/style3/typography/bullet_ol_2_color.png') no-repeat center center;
	color:#fff
}
div.itemHeader h2.itemTitle span sup {
	color:#115bb2
}
div.itemComments ul.itemCommentsList li span.commentAuthorName {
	color:#115bb2
}
div.itemCommentsForm form input.button:hover {
	background:#115bb2
}
div.itemCommentsForm form span#formLog {
	color:#115bb2
}
div.catItemHeader h3.catItemTitle span sup {
	color:#115bb2
}
div.userItemHeader h3.userItemTitle span sup {
	color:#115bb2
}
div.k2LatestCommentsBlock ul li >a {
	color:#115bb2
}
div.k2ArchivesBlock ul li a {
	color:#115bb2
}
table.calendar tr td.calendarTodayLinked {
	background:#115bb2
}
div.k2CategoriesListBlock ul li a {
	color:#115bb2
}
div.k2TagCloudBlock a:hover {
	background:#115bb2
}
