* {
  box-sizing: border-box;
  font-family: arial;
}

paper-checkbox, paper-checkbox *,paper-slider, paper-slider * {
  box-sizing: content-box;
  font-size: 0.9em;
}  

paper-slider {
  position: relative;
  top: 2px;
}

html,body,#renderCanvas {
  width: 100%; 
  height: 100%;
  #padding: 0px 0px 0px 110px;
  margin: 0px;
  background-color: rgb(255,255,255);
  overflow: hidden;
}

h1 {
  position: absolute;
  left: 0px;
  top: 0px;
  color: black;
  font-weight: bold;
  margin: 0px;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px;
  height: 77px;
  width: 320px;
}  

#Selection {
  position: absolute;
  left: 0px;
  top: 0px;
  max-width: 364px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.6);
  width: 320px;
  height: calc(100% - 110px);
  overflow: auto;
  transition: all 0.15s;
}  

canvas:active {
  cursor: move !important;
}

.Select {
  width: 80px;
  height: 80px;
  border: solid grey 1px;
  float: left;
  margin: 3px;
  cursor: pointer;
  transition: all 0.3s;
  outline: solid rgba(120,120,120,0) 1px;
}

#Add_New {
  position: absolute;
  left: 0px;
  transition: all 0.15s;
  bottom: 60px;
  background-color: rgb(231, 231, 231);
  width: 320px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  font-size: 1.1em;
  color: rgb(51, 103, 214);
  padding:0.5em;
}

#Add_New:hover {
  background-color: rgba(215, 215, 215, 1);
}

#Add_New:active {
  background-color: rgba(150, 150, 150, 1);
}

.Select:hover {
  border-color: blue;
  outline-color: blue;
}

.Select:active {
  transition: all 0.15s;
  border-color: black;
  outline-color: black;
}

.Local {
  border-color: rgb(0, 168, 66);
}

#Drop {
  height: 130px;
  color: black;
  border: dotted grey 6px;
  text-align: center;
  padding: 50px;
  opacity: 0.5;
  transition: all 0.3s;
}

#Drop:hover {
  opacity: 1;
}

#Dialog {
  position: absolute;
  top: -420px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border: solid rgba(165, 165, 165, 0.8) 1px;
  padding: 24px;
  width: 600px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.9);
  transition: all 0.3s;
  color: black;
}  

 #Dialog div, #Dialog input {
  width: 100%;
  min-height: 30px;
} 

#LoaderLayer {
  width: 100%;
  height: 100%;
  background-image: url("../ajax-loader.gif");
  background-size:5% auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0.4);
  display: none;
  position: absolute;
  opacity: 0.4;
  left: 0px;
  top: 0px;
  z-index: 3;
}  

#SunSmall {
  position: relative;
  left: 16px;
  bottom: 0px;
  display: block;
  min-width: 20px;
  min-height: 20px;
  max-width: 20px;
  max-height: 20px;
  background-image: url("../brightness.png");
  background-size: 56% auto;
  background-position: center center;
  background-repeat: no-repeat;
  margin 4px;
}

#SunBig {
  position: relative;
  right: 14px;
  bottom: 0px;
  display: block;
  min-width: 20px;
  min-height: 20px;
  max-width: 20px;
  max-height: 20px;
  background-image: url("../brightness.png");
  background-size: 96% auto;
  background-position: center center;
  background-repeat: no-repeat;
  margin 4px;
}

#Controls {
  height: 60px;
  background-color: rgba(255,255,255,0.6);
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 9px;
}

#Controls table {
  min-height: 30px;
  max-height: 30px;
}

#Controls table td {
  padding-left: 6px;
  padding-right: 6px;
}