
<style scope="paper-ripple">

paper-ripple {
  display: block;
      position: absolute;
      border-radius: inherit;
      overflow: hidden;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
}

paper-ripple[animating] {
  -webkit-transform: translate(0, 0);
      transform: translate3d(0, 0, 0);
}

paper-ripple[noink] {
  pointer-events: none;
}

#background.paper-ripple,
    #waves.paper-ripple,
    .wave-container.paper-ripple,
    .wave.paper-ripple {
  pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
}

#background.paper-ripple,
    .wave.paper-ripple {
  opacity: 0;
}

#waves.paper-ripple,
    .wave.paper-ripple {
  overflow: hidden;
}

.wave-container.paper-ripple,
    .wave.paper-ripple {
  border-radius: 50%;
}

paper-ripple.circle #background.paper-ripple,
    paper-ripple.circle #waves.paper-ripple {
  border-radius: 50%;
}

paper-ripple.circle .wave-container.paper-ripple {
  overflow: hidden;
}</style><style scope="paper-checkbox">paper-checkbox {
  display: inline-block;
  white-space: nowrap;
}

paper-checkbox:focus {
  outline: none;
}

.hidden.paper-checkbox {
  display: none;
}

#checkboxContainer.paper-checkbox {
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
  cursor: pointer;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  vertical-align: middle;
}

paper-checkbox #ink.paper-checkbox {
  position: absolute;
  top: -15px;
  left: -15px;
  width: 48px;
  height: 48px;
  opacity: 0.6;
}

paper-checkbox #checkbox.paper-checkbox {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  border: solid 2px;
  border-radius: 2px;
  pointer-events: none;
  -webkit-transition: background-color 140ms, border-color 140ms;
  transition: background-color 140ms, border-color 140ms;
}

#checkbox.checked.paper-checkbox #checkmark.paper-checkbox {
  -webkit-animation: checkmark-expand 140ms ease-out forwards;
  animation: checkmark-expand 140ms ease-out forwards;
}

@-webkit-keyframes checkmark-expand {
0% {
  top: 9px;
    left: 6px;
    width: 0px;
    height: 0px;
}

100% {
  top: -1px;
    left: 4px;
    width: 5px;
    height: 10px;
}

}

@keyframes checkmark-expand {
0% {
  top: 9px;
    left: 6px;
    width: 0px;
    height: 0px;
}

100% {
  top: -1px;
    left: 4px;
    width: 5px;
    height: 10px;
}

}

paper-checkbox #checkmark.paper-checkbox {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: -1px;
  left: 4px;
  width: 5px;
  height: 10px;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-color: white;
}

#checkboxLabel.paper-checkbox {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding-left: 8px;
  white-space: normal;
  pointer-events: none;
}

#checkboxLabel[hidden].paper-checkbox {
  display: none;
}

paper-checkbox[disabled] {
  pointer-events: none;
}

paper-checkbox[disabled] #checkbox.paper-checkbox {
  opacity: 0.5;
}

paper-checkbox[disabled][checked] #checkbox.paper-checkbox {
  opacity: 0.5;
}

paper-checkbox[disabled] #checkboxLabel.paper-checkbox {
  opacity: 0.65;
}</style>

<style scope="paper-checkbox-0">paper-checkbox.paper-checkbox-0 #ink.paper-checkbox {
  color:#212121;
}

paper-checkbox.paper-checkbox-0 #ink[checked].paper-checkbox {
  color:#3f51b5;
}

paper-checkbox.paper-checkbox-0 #checkbox.paper-checkbox {
  border-color:#212121;
}

@-webkit-keyframes checkmark-expand {
0% {
  top: 9px;
    left: 6px;
    width: 0px;
    height: 0px;
}

100% {
  top: -1px;
    left: 4px;
    width: 5px;
    height: 10px;
}

}

@keyframes checkmark-expand {
0% {
  top: 9px;
    left: 6px;
    width: 0px;
    height: 0px;
}

100% {
  top: -1px;
    left: 4px;
    width: 5px;
    height: 10px;
}

}

paper-checkbox.paper-checkbox-0 #checkbox.checked.paper-checkbox {
  background-color:#3f51b5;

  border-color:#3f51b5;
}

.paper-checkbox-0 #checkboxLabel.paper-checkbox {
  color:#212121;
}

paper-checkbox.paper-checkbox-0[disabled] #checkbox.paper-checkbox {
  border-color:#212121;
}

paper-checkbox.paper-checkbox-0[disabled][checked] #checkbox.paper-checkbox {
  background-color:#212121;
}</style><style scope="paper-progress">paper-progress {
  display: inline-block;
      width: 200px;
      height: 4px;
}

#progressContainer.paper-progress {
  position: relative;
      height: 100%;
      overflow: hidden;
}

#activeProgress.paper-progress,
    #secondaryProgress.paper-progress {
  -webkit-transform-origin: left center;
      transform-origin: left center;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
}

#activeProgress.indeterminate.paper-progress {
  -webkit-transform-origin: center center;
      transform-origin: center center;
      -webkit-animation: indeterminate-bar 1s linear infinite;
      animation: indeterminate-bar 1s linear infinite;
}

@-webkit-keyframes indeterminate-bar {
0% {
  -webkit-transform: translate(-50%) scaleX(0);
}

50% {
  -webkit-transform: translate(0%) scaleX(0.3);
}

100% {
  -webkit-transform: translate(50%) scaleX(0);
}

}

@keyframes indeterminate-bar {
0% {
  transform: translate(-50%) scaleX(0);
}

50% {
  transform: translate(0%) scaleX(0.3);
}

100% {
  transform: translate(50%) scaleX(0);
}

}</style><style scope="paper-progress-0">.paper-progress-0 #progressContainer.paper-progress {
  background-color:#e0e0e0;
}

.paper-progress-0 #activeProgress.paper-progress {
  background-color:#0f9d58;
}

.paper-progress-0 #secondaryProgress.paper-progress {
  background-color:#b7e1cd;
}

@-webkit-keyframes indeterminate-bar {
0% {
  -webkit-transform: translate(-50%) scaleX(0);
}

50% {
  -webkit-transform: translate(0%) scaleX(0.3);
}

100% {
  -webkit-transform: translate(50%) scaleX(0);
}

}

@keyframes indeterminate-bar {
0% {
  transform: translate(-50%) scaleX(0);
}

50% {
  transform: translate(0%) scaleX(0.3);
}

100% {
  transform: translate(50%) scaleX(0);
}

}</style><style scope="paper-input-container">paper-input-container {
  display: block;
      padding: 8px 0;
}

paper-input-container[inline] {
  display: inline-block;
}

paper-input-container[disabled] {
  pointer-events: none;
      opacity: 0.33;
}

.underline.paper-input-container {
  position: relative;
}

.focused-line.paper-input-container {
  height: 2px;

      -webkit-transform-origin: center center;
      transform-origin: center center;
      -webkit-transform: scale3d(0,1,1);
      transform: scale3d(0,1,1);
}

.underline.is-highlighted.paper-input-container .focused-line.paper-input-container {
  -webkit-transform: none;
      transform: none;
      -webkit-transition: -webkit-transform 0.25s;
      transition: transform 0.25s;
}

.underline.is-invalid.paper-input-container .focused-line.paper-input-container {
  -webkit-transform: none;
      transform: none;
      -webkit-transition: -webkit-transform 0.25s;
      transition: transform 0.25s;
}

.unfocused-line.paper-input-container {
  height: 1px;
}

paper-input-container[disabled] .unfocused-line.paper-input-container {
  border-bottom: 1px dashed;
      background: transparent;
}

.input-content.paper-input-container {
  position: relative;
}

.input-content.paper-input-container  label,
    .input-content.paper-input-container  .paper-input-label {
  position: absolute;
      top: 0;
      right: 0;
      left: 0;
      font: inherit;
}

.input-content.label-is-floating.paper-input-container  label,
    .input-content.label-is-floating.paper-input-container  .paper-input-label {
  -webkit-transform: translate3d(0, -75%, 0) scale(0.75);
      transform: translate3d(0, -75%, 0) scale(0.75);
      -webkit-transform-origin: left top;
      transform-origin: left top;
      -webkit-transition: -webkit-transform 0.25s;
      transition: transform 0.25s;
}

.input-content.label-is-hidden.paper-input-container  label,
    .input-content.label-is-hidden.paper-input-container  .paper-input-label {
  visibility: hidden;
}

.input-content.paper-input-container  input,
    .input-content.paper-input-container  textarea,
    .input-content.paper-input-container  iron-autogrow-textarea,
    .input-content.paper-input-container  .paper-input-input {
  position: relative; 
      outline: none;
      box-shadow: none;
      padding: 0;
      width: 100%;
      background: transparent;
      border: none;
}

.input-content.paper-input-container  input {
  min-width: 0;
}

.input-content.paper-input-container  textarea {
  resize: none;
}</style><style scope="paper-input-error">paper-input-error {
  display: none;
      float: left;
}

paper-input-error[invalid] {
  display: inline-block;
}</style><style scope="paper-input-char-counter">paper-input-char-counter {
  display: inline-block;
      float: right;
}</style><style scope="paper-input">paper-input {
  display: block;
}</style><style scope="paper-slider">paper-slider {
  display: inline-block;
  width: 200px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

paper-slider:focus {
  outline: none;
}

#sliderContainer.paper-slider {
  position: relative;
  width: calc(100% - 32px);
  height: 32px;
}

#sliderContainer.editable.paper-slider {
  float: left;
  width: calc(100% - 72px);
  margin: 12px 0;
}

.bar-container.paper-slider {
  position: absolute;
  top: 0;
  left: 16px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.ring.paper-slider > .bar-container.paper-slider {
  left: 20px;
  width: calc(100% - 4px);
  transition: left 0.18s ease, width 0.18s ease;
}

.ring.expand.paper-slider:not(.pin) > .bar-container.paper-slider {
  left: 30px;
  width: calc(100% - 14px);
}

.ring.expand.dragging.paper-slider > .bar-container.paper-slider {
  transition: none;
}

#sliderBar.paper-slider {
  position: absolute;
  top: 15px;
  left: 0;
  height: 2px;
  width: 100%;
  padding: 8px 0;
  margin: -8px 0;
}

.ring.paper-slider #sliderBar.paper-slider {
  left: -4px;
  width: calc(100% + 4px);
}

.ring.expand.paper-slider:not(.pin) #sliderBar.paper-slider {
  left: -14px;
  width: calc(100% + 14px);
}

.slider-markers.paper-slider {
  position: absolute;
  top: 15px;
  left: 15px;
  height: 2px;
  width: calc(100% + 2px);
  box-sizing: border-box;
  pointer-events: none;
}

.slider-markers.paper-slider::after,
.slider-marker.paper-slider::after {
  content: "";
  display: block;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: black;
}

.transiting.paper-slider #sliderBar.paper-slider  #activeProgress {
  -webkit-transition: -webkit-transform 0.08s ease;
  transition: transform 0.08s ease;
}

#sliderKnob.paper-slider {
  position: absolute;
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
}

.transiting.paper-slider > #sliderKnob.paper-slider {
  transition: left 0.08s ease;
}

#sliderKnob.paper-slider:focus {
  outline: none;
}

#sliderKnob.dragging.paper-slider {
  transition: none;
}

.snaps.paper-slider > #sliderKnob.dragging.paper-slider {
  transition: -webkit-transform 0.08s ease;
  transition: transform 0.08s ease;
}

#sliderKnobInner.paper-slider {
  width: 12px;
  height: 12px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 50%;
  transition-property: height, width, background-color, border;
  transition-duration: 0.1s;
  transition-timing-function: ease;
}

.expand.paper-slider:not(.pin) > #sliderKnob.paper-slider > #sliderKnobInner.paper-slider {
  width: 100%;
  height: 100%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.ring.paper-slider > #sliderKnob.paper-slider > #sliderKnobInner.paper-slider {
  background-color: transparent;
  border: 2px solid #c8c8c8;
}

.pin.paper-slider > #sliderKnob.paper-slider > #sliderKnobInner.paper-slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
  margin-left: 3px;
  border-radius: 50% 50% 50% 0;
  -webkit-transform: rotate(-45deg) scale(0) translate(0);
  transform: rotate(-45deg) scale(0) translate(0);
}

#sliderKnobInner.paper-slider::before,
#sliderKnobInner.paper-slider::after {
  transition: -webkit-transform .2s ease, background-color .18s ease;
  transition: transform .2s ease, background-color .18s ease;
}

.pin.ring.paper-slider > #sliderKnob.paper-slider > #sliderKnobInner.paper-slider::before {
  background-color: #c8c8c8;
}

.pin.expand.paper-slider > #sliderKnob.paper-slider > #sliderKnobInner.paper-slider::before {
  -webkit-transform: rotate(-45deg) scale(1) translate(17px, -17px);
  transform: rotate(-45deg) scale(1) translate(17px, -17px);
}

.pin.paper-slider > #sliderKnob.paper-slider > #sliderKnobInner.paper-slider::after {
  content: attr(value);
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 26px;
  text-align: center;
  font-size: 10px;
  -webkit-transform: scale(0) translate(0);
  transform: scale(0) translate(0);
}

.pin.expand.paper-slider > #sliderKnob.paper-slider > #sliderKnobInner.paper-slider::after {
  -webkit-transform: scale(1) translate(0, -17px);
  transform: scale(1) translate(0, -17px);
}

.slider-input.paper-slider {
  width: 40px;
  float: right;
  overflow: hidden;
}

.slider-input.paper-slider  input {
  text-align: center;
}

#sliderContainer.disabled.paper-slider {
  pointer-events: none;
}

.disabled.paper-slider > #sliderKnob.paper-slider > #sliderKnobInner.paper-slider {
  width: 8px;
  height: 8px;
}

.disabled.ring.paper-slider > #sliderKnob.paper-slider > #sliderKnobInner.paper-slider {
  background-color: transparent;
}</style><style scope="paper-slider-0">paper-slider.paper-slider-0:not([disabled]) #sliderBar.paper-slider  #activeProgress {
  background-color:#3367d6;
}

paper-slider.paper-slider-0:not([disabled]) #sliderBar.paper-slider  #secondaryProgress {
  background-color:#7baaf7;
}

paper-slider.paper-slider-0[disabled] #sliderBar.paper-slider  #activeProgress {
  background-color:#9e9e9e;
}

paper-slider.paper-slider-0[disabled] #sliderBar.paper-slider  #secondaryProgress {
  background-color:#e0e0e0;
}

.paper-slider-0 #sliderBar.paper-slider {
  background-color:transparent;
}

.paper-slider-0 #sliderKnob.paper-slider {
  -ms-flex-pack:center;
      -webkit-justify-content:center;
      justify-content:center;-ms-flex-align:center;
      -webkit-align-items:center;
      align-items:center;display:-ms-flexbox;
      display:-webkit-flex;
      display:flex;

      -ms-flex-direction:row;
      -webkit-flex-direction:row;
      flex-direction:row;
}

.paper-slider-0 #sliderKnobInner.paper-slider {
  background-color:#3367d6;
}

.paper-slider-0 #sliderKnobInner.paper-slider::before {
  background-color:#3367d6;
}

.paper-slider-0 .pin.paper-slider > #sliderKnob.paper-slider > #sliderKnobInner.paper-slider::after {
  color:#fff;
}

.paper-slider-0 .disabled.paper-slider > #sliderKnob.paper-slider > #sliderKnobInner.paper-slider {
  background-color:#9e9e9e;
}

.paper-slider-0 paper-ripple.paper-slider {
  color:#3367d6;
}</style><style>body {transition: opacity ease-in 0.2s; } 
body[unresolved] {opacity: 0; display: block; overflow: hidden; position: relative; } 
</style>